<div class="content-section left-section col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <div class="content-list">
        <p class="content-description">In June of 2013, the Department of Energy (DOE) and the Energy Regulatory Commission (ERC) announced the start of retail electricity supply for large energy consumers now referred to as Open Access.  SN Aboitiz Power-RES, Inc., or SNAP-RES for short, is the retail electricity supplier (RES) company of SN Aboitiz Power Group that caters to the customer sectors across all industries qualified to participate in this new market.</p>
        <p class="content-description">SNAP-RES aims to become the leading retail electricity supplier in the country through profitable growth, excellence in business processes, and innovative solutions. It seeks to build sustainable partnerships with industry leaders and contribute to their growth through contractual arrangements that complement each industry’s operational requirements. </p>
        <p class="content-description">If you would like to explore your options in the retail market, please visit <a href="/snap-res/" target="_blank">SNAP RES</a></p>
    </div>
</div>

