<div class="container-fluid no-gutter container-section">
    <div class="banner-section">
        <div class="banner-overlay"></div>
        <div class="banner-text-container">
            <h2 class="banner-text">Career Opportunities</h2>
        </div>
    </div>
    <div class="section-text-container container">
        <p class="section-text">We foster a culture of transparency, respect, accountability, and growth. We cultivate an empowering environment that brings out the best in us truly living out our corporate values while having fun at work. </p>
    </div>

    <div class="image-container clearfix">
        <div class="col-md-3 col-sm-3 col-xs-12 image-list">
            <img src="https://res.cloudinary.com/snapcloud/image/upload/career/career1.jpg" class="center-block img-responsive image"/>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 image-list">
            <img src="https://res.cloudinary.com/snapcloud/image/upload/career/career2.jpg" class="center-block img-responsive image"/>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 image-list">
            <img src="https://res.cloudinary.com/snapcloud/image/upload/career/career3.jpg" class="center-block img-responsive image"/>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 image-list">
            <img src="https://res.cloudinary.com/snapcloud/image/upload/career/career4.jpg" class="center-block img-responsive image"/>
        </div>
    </div>

    <div class="container">
        <div class="career-section clearfix">
            {% for career in site.data.careers %}
            {% if career.active == true %}
            {% assign counter = counter | plus:1 %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 career-list-container ">
                <div class="career-list">
                    <h4 class="career-title">{{ career.title }} ({{ career.vacant }})-{{career.contractType}}</h4>
                    <ul>
                        <li>
                            <span class="career-company">{{ career.company }}, {{ career.location }}</span>
                        </li>
                        <li>
                            <span class="career-description">{{ career.description }}</span>
                        </li>
                        <li>
                            <span class="career-requirement-title">Requirements</span>
                            <p class="career-requirement">
                            {% for requirement in career.requirement-list %}
                                <span class="career-requirement-list">{{ requirement.requirement }}</span>
                            {% endfor %}
                            </p>
                        </li>
                    </ul>

                    <a class="career-modal" data-toggle="modal" data-target="#{{ counter }}" target="_blank">Learn More</a>
                    <div class="modal-list modal fade" id="{{ counter }}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" data-dismiss="modal" aria-hidden="true">
                                    <img class="modal-close" src="https://res.cloudinary.com/snapcloud/image/upload/close.png"/>
                                </button>
                                <div class="modal-body">
                                    <h4 class="modal-career-title">{{ career.title }} ({{ career.vacant }})-{{career.contractType}}</h4>
                                    <ul>
                                        <li>
                                            <span class="modal-career-company">{{ career.company }}, {{ career.location }}</span>
                                        </li>
                                        <li>
                                            <span class="modal-career-description">{{ career.description }}</span>
                                        </li>
                                        <li>
                                            <span class="modal-career-requirement-title">Requirements</span>
                                            <ul class="modal-career-list-container">
                                                {% for requirement in career.requirement-list %}
                                                <li class="modal-career-requirement-list">{{ requirement.requirement }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>