<div class="container-fluid no-gutter container-section">
    <div class="banner-section">
        <div class="banner-overlay"></div>
        <div class="banner-text-container">
            <h2 class="banner-text">Career Opportunities</h2>
        </div>
    </div>

    <div class="image-container">
        <div class="col-md-3 image-list">
            <img src="/img/career/career1.jpg" class="center-block img-responsive image"/>
        </div>
        <div class="col-md-3 image-list">
            <img src="/img/career/career2.jpg" class="center-block img-responsive image"/>
        </div>
        <div class="col-md-3 image-list">
            <img src="/img/career/career3.jpg" class="center-block img-responsive image"/>
        </div>
        <div class="col-md-3 image-list">
            <img src="/img/career/career4.jpg" class="center-block img-responsive image"/>
        </div>
    </div>

    <div class="container">
        <div class="career-section clearfix">
            {% for career in site.data.careers %}
            {% assign counter = counter | plus:1 %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 career-list-container ">
                <div class="career-list">
                    <h4 class="career-title">{{ career.title }} ({{ career.vacant }})-{{career.contractType}}</h4>
                    <ul>
                        <li>Company:
                            <span class="career-company">{{ career.company }}</span>
                        </li>
                        <li>Location:
                            <span class="career-location">{{ career.location }}</span>
                        </li>
                        <li>Job Description:
                            <span class="career-description">{{ career.description }}</span>
                        </li>
                    </ul>
                    <!--<p class="career-requirement"><strong class="requirement-title">Requirements:</strong>{{ career.requirement }}</p>-->

                    <a class="career-modal" data-toggle="modal" data-target="#{{ counter }}" target="_blank">Learn More</a>
                    <div class="modal-list modal fade" id="{{ counter }}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" data-dismiss="modal" aria-hidden="true">
                                    <img class="modal-close" src="/img/close.png"/>
                                </button>
                                <div class="modal-body">
                                    <h4 class="modal-career-title">{{ career.title }}</h4>
                                    <ul>
                                        <li>Company:
                                            <span class="modal-career-company">{{ career.company }}</span>
                                        </li>
                                        <li>Location:
                                            <span class="modal-career-location">{{ career.location }}</span>
                                        </li>
                                        <li>Job Description:
                                            <span class="modal-career-description">{{ career.description }}</span>
                                        </li>
                                    </ul>
                                    <p class="modal-career-requirement"><strong class="requirement-title">Requirements:</strong><br>{{ career.requirement }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>