<div class="container-fluid no-gutter container-section">
    <div class="section-header">
        <div class="header-container">
            <h4 class="header">How can we help you?</h4>
        </div>
    </div>
    <div class="left-section col-md-7 clearfix">
        <script type="text/javascript">var submitted = false;</script>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display: none"></iframe>
        <form id="form-content" action="https://formspree.io/info@snaboitiz.com" target="hidden_iframe" method="POST" class="form-content clearfix">

            <div class="form-item col-md-6 clearfix">
                <input class="content-input form-control input-lg" placeholder="Name" name="name" autocomplete="off" required type="text" value="" size="40" aria-required="true" aria-invalid="false">
            </div>

            <div class="form-item col-md-6 clearfix">
                <input class="content-input form-control input-lg" placeholder="Company" name="company" autocomplete="off" required type="text" value="" size="40" aria-required="true" aria-invalid="false">
            </div>

            <div class="form-item col-md-6 clearfix">
                <input class="content-input form-control input-lg" placeholder="Email" name="_replyto" autocomplete="off" required type="email" value="" size="40" aria-required="true" aria-invalid="false">
            </div>

            <div class="form-item col-md-6 clearfix">
                <input class="content-input form-control input-lg" min="0" placeholder="Contact Number" name="contact" autocomplete="off" required type="number" value="" size="15" aria-required="true" aria-invalid="false">
            </div>


            <div class="form-message col-md-12 clearfix">
                <textarea class="text-area form-control" placeholder="Message" name="description"  required type="text"  value="" rows="7"></textarea>
            </div>

            <input type="hidden" name="_subject" value="New submission!" />
            <input type="hidden" name="_next" value="/" />
            <input type="text" name="_gotcha" style="display:none" />

            <div class="content-button-container col-md-12 clearfix">
                <button data-toggle="modal-message" type="submit" id="ss-submit" class="input-lg form-control submit-button ">SEND</button>
            </div>
        </form>
    </div>

    <div class="right-section col-md-5 clearfix">
        <div class="location-list">
            <h2 class="title">Executive Office</h2>
            <address class="location">c/o Manila-Oslo Renewable Enterprise, Inc.</address>
            <address class="location">10F NAC Tower, 32nd Street</address>
            <address class="location">Bonifacio Global City 1634, Taguig City</address>
            <address class="location">Metro Manila, Philippines</address>

        </div>
        <div class="location-list">
            <h2 class="title">SN ABOITIZ POWER-MAGAT</h2>
            <address class="location">Magat Hydroelectric Power Plant</address>
            <address class="location">Gen. Aguinaldo, Ramon, Isabela</address>
        </div>
        <div class="location-list">
            <h2 class="title">SN ABOITIZ POWER-BENGUET</h2>
            <address class="location">Binga Hydroelectric Power Plant</address>
            <address class="location">Brgy. Tinongdan, Itogon, Benguet</address>
            <br/>
            <address class="location">Ambuklao Hydro Power Plant</address>
            <address class="location">Brgy. Ambuklao, Bokod, Benguet</address>
        </div>
        <span class="email">info@snaboitiz.com</span>
    </div>

</div>

<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-alert">You successfully submitted your response.</h2>
            </div>
        </div>
    </div>
</div>