<div class="container-fluid no-gutter container-section">
    <div class="col-lg-6 col-md-6 ">
        <div class="left-section">
            <div class="tab-content">
                <div role="tabpanel" class="content-list tab-pane fade in active" id="message">
                    {% include contact/message.html %}
                </div>
                <div role="tabpanel" class="content-list tab-pane fade" id="office-location">
                    {% include contact/location.html %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="map-section">
            <div id="map"></div>
        </div>
    </div>
</div>