<div class="location-container">
    <div class="location-list">
        <h2 class="header"> Executive Office</h2>
        <address class="address">10F NAC Tower <br>
        32nd Street, Bonifacio Global City 1634 <br>
        Taguig City, Metro Manila, Philippines
        </address>
        <a class="map-link" href="#">VIEW IN MAP</a>
    </div>
    <div class="location-list">
        <h2 class="header"> Company Office</h2>

        <div class="company-list">
            <address class="address">SN ABOITIZ POWER-MAGAT, INC. <br> Magat Hydroelectric Power Plant <br> Brgy. Gen. Aguinaldo, Ramon 3319, <br> Isabela, Philippines</address>
        </div>

        <div class="company-list">
            <address class="address">SN ABOITIZ POWER-BENGUET INC. <br> Binga Hydroelectric Power Plant <br> Brgy. Tinongdan, Itogon 2604 <br> Benguet, Philippines</address>
        </div>

        <div class="company-list">
            <address class="address">SN ABOITIZ POWER-AMBUKLAO INC. <br> Bokod, Benguet, Luzon Philippines </address>
        </div>
    </div>

</div>