<div class="location-container">
    <div class="location-list">
        <h2 class="header"> Executive Office</h2>
        <address class="address">10F NAC Tower <br>
        32nd Street, Bonifacio Global City 1634 <br>
        Taguig City, Metro Manila, Philippines
        </address>
        <a class="map-link" target="_blank" href="https://www.google.com.ph/maps/place/NAC+Tower,+32nd+St,+Taguig,+Metro+Manila/@14.5529263,121.0492395,17z/data=!3m1!4b1!4m5!3m4!1s0x3397c8f3ef7d91c1:0x4f126248847ee7c!8m2!3d14.5529211!4d121.0514282">VIEW IN MAP</a>
    </div>
</div>