<div class="container container-section">
    <div class="col-lg-8 col-md-8 left-section">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="tabs-list active">
                <a class="tabs-link" href="#csr" role="tab" data-toggle="tab">Corporate Social Responsibility</a>
            </li>
            <li class="tabs-list" role="presentation">
                <a class="tabs-link" href="#sustainability" role="tab" data-toggle="tab">Sustainability</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="content-list tab-pane fade in active" id="csr">
                {% include csr-sustainability/csr.html %}
            </div>
            <div role="tabpanel" class="content-list tab-pane fade" id="sustainability">
                {% include csr-sustainability/sustainability.html %}
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 right-section">
    </div>
</div>