<div class="content-section">
    <header>
        <div class="circle">
            <span class="section-number" data-scrollreveal="enter bottom after 0.2s">1</span>
        </div>
        <div class="line-pipe"></div>
        <h2 class="section-title" data-scrollreveal="enter bottom move after 0.2s">Corporate Social Responsibility</h2>
        <p class="section-text" data-scrollreveal="enter bottom move after 0.2s">SNAP’s corporate social responsibility (CSR) program supports seven key result areas: Education, Environment, Governance, Health, Indigenous Peoples, Livelihood, and Social Infrastructure. The program is implemented in 43 host communities, which consists of four provinces, 12 municipalities, 25 barangays, and two indigenous peoples’ organizations. From 2007 to 2015, our portfolio has reached 550 projects, with a total funding of Php 282.87 million.</p>
    </header>
</div>