<div class="content-section">
    <img src="/img/banner/csr-banner.jpg" class="img-responsive banner-section"/>
    <h2 class="header-section">CORPORATE SOCIAL RESPONSIBILITY</h2>
    <p class="description-section">CSR is integrated into our business because we believe that business growth and socio-economic development go hand-in-hand. We partner with our stakeholders as we work towards the goal of building self-reliant and progressive communities and a sustainable future for all.</p>
    <span class="text-divider">We have four main pillars of CSR:</span>
    <div class="pillars-section">
        {% for csr in site.data.csr %}
        <div class="pillars-list">
            <h4 class="pillars-title">{{ csr.title }}</h4>
            <p class="pillars-description">{{ csr.description }}</p>
        </div>
        {% endfor %}
    </div>
</div>
