<div class="content-section">
    <header>
        <div class="visible-lg visible-md hidden-sm hidden-xs circle">
            <span class="section-number" data-scrollreveal="enter bottom after 0.2s">1</span>
        </div>
        <div class="visible-lg visible-md hidden-sm hidden-xs line-pipe"></div>
        <h2 class="section-title" data-scrollreveal="enter bottom move after 0.2s">Corporate Social Responsibility</h2>
        <p class="section-text" data-scrollreveal="enter bottom move after 0.2s">SNAP subscribes to the definition of the World Business Council for Sustainable Development that:</p>
        <p class="section-text" data-scrollreveal="enter bottom move after 0.2s"><i>"Corporate Social Responsibility is the continuing commitment by business to contribute to economic development while improving the quality of life of the workforce and their families as well as of the community and society at large."</i></p>
        <p class="section-text" data-scrollreveal="enter bottom move after 0.2s">SNAP’s corporate social responsibility (CSR) program stands on four pillars:</p>
    </header>



    <div class="service-list" data-scrollreveal="enter bottom move after 0.2s">
        <h2 class="service-title">Community relations and development</h2>
        <p class="section-text">To foster mutual understanding, trust and support, SNAP builds strong and meaningful partnerships and is committed to making a positive difference in the communities where it operates. </p>
    </div>

    <div class="service-list" data-scrollreveal="enter bottom move after 0.2s">
        <h2 class="service-title">Environment and Sustainability</h2>
        <p class="section-text">SNAP goes beyond compliance in meeting environmental standards, and pursues projects that help provide solutions to environmental issues towards conservation and efficient use of natural resources. </p>
    </div>

    <div class="service-list" data-scrollreveal="enter bottom move after 0.2s">
        <h2 class="service-title">Health and Safety</h2>
        <p class="section-text">SNAP conducts its business in a manner that eliminates and prevents injuries and illnesses to our people and to the general public.</p>
    </div>

    <div class="service-list" data-scrollreveal="enter bottom move after 0.2s">
        <h2 class="service-title">Governance</h2>
        <p class="section-text">SNAP implements rules and programs to ensure accountability, fairness, ethical practices, and transparency in its relationship with its stakeholders (lenders, customers, suppliers, vendors, management, employees, government, media, and the community).</p>
    </div>
</div>