<div class="content-section">
    <h2 class="header-section">Vision</h2>
    <p class="description-section">To be the leading provider and developer of renewable energy preferred by
        stakeholders, achieving sustained profitable growth for shareholders through a diversified portfolio of assets,
        products and services delivered by talented and engaged team members.</p>
</div>
<div class="content-section">

</div>
<div class="content-section">
    <h2 class="header-section">Values</h2>

</div>