<div class="content-section">
    <header>
        <div class="circle visible-lg visible-md hidden-sm hidden-xs">
            <span class="section-number" data-scrollreveal="enter bottom after 0.2s">4</span>
        </div>
        <div class="line-pipe visible-lg visible-md hidden-sm hidden-xs"></div>
        <h2 class="section-title" data-scrollreveal="enter bottom move after 0.2s">Ancillary Services</h2>
    </header>

    <p class="section-text">To help support the grid’s reliability and stability, we have also been a partner of the National Grid Corporation of the Philippines (NGCP) in providing ancillary services. The types of ancillary service we can provide are regulating reserve, contingency reserve, dispatchable reserve, and black start.</p>
    <div class="service-list" data-scrollreveal="enter bottom move after 0.2s">
        <h2 class="service-title">Regulating Reserve (RR)</h2>
        <p class="service-text">uses a synchronized generating unit that adjusts real-time with the system demand to maintain the frequency of the system at 60 HZ. It counters the small changes in the system to maintain the balance of supply and demand.
        </p>
    </div>

    <div class="service-list" data-scrollreveal="enter bottom move after 0.2s">
        <h2 class="service-title">Contingency Reserve (CR)</h2>
        <p class="service-text">uses a synchronized generating unit that replaces power plants on forced outages that may cause a supply-demand imbalance.</p>
    </div>

    <div class="service-list" data-scrollreveal="enter bottom move after 0.2s">
        <h2 class="service-title">Dispatchable Reserve (DR)</h2>
        <p class="service-text">uses a standby generating unit that replaces CR (see above) to maintain the balance of supply and demand for a longer period after CR has been utilized.</p>
    </div>

    <div class="service-list" data-scrollreveal="enter bottom move after 0.2s">
        <h2 class="service-title">Black Start (BS)</h2>
        <p class="service-text">is a service that is used to jump-start the system during a system-wide blackout.</p>
    </div>

</div>