<div class="content-section">
    <header>
        <div class="circle visible-lg visible-md hidden-sm hidden-xs">
            <span class="section-number" data-scrollreveal="enter bottom after 0.2s">4</span>
        </div>
        <div class="line-pipe visible-lg visible-md hidden-sm hidden-xs"></div>
        <h2 class="section-title" data-scrollreveal="enter bottom move after 0.2s">Ancillary Services</h2>
    </header>

    <p class="section-text">To help support the grid’s reliability and stability, we have also been a partner of the National Grid Corporation of the Philippines (NGCP) in providing ancillary services. The types of ancillary service we can provide are regulating reserve, contingency reserve, dispatchable reserve, and black start.</p>
 

</div>
