<div class="content-section">
    <header>
        <div class="circle visible-lg visible-md hidden-sm hidden-xs">
            <span class="section-number" data-scrollreveal="enter bottom after 0.2s">1</span>
        </div>
        <div class="line-pipe visible-lg visible-md hidden-sm hidden-xs"></div>
        <h2 class="section-title" data-scrollreveal="enter bottom move after 0.2s">Spot Selling</h2>
    </header>
    <p class="section-text" data-scrollreveal="enter bottom move after 0.2s">Our Magat, Ambuklao, and Binga facilities operate as peaking plants. A portion of our generated output has power purchase agreements with electric utilities while the rest is sold to the Wholesale Electricity Spot Market (WESM).</p>
</div>