<div class="content-section">
    <header>
        <span class="section-number" data-scrollreveal="enter bottom move after 0.2s">02</span>
        <h2 class="section-title" data-scrollreveal="enter bottom move after 0.2s">Retail Services</h2>
    </header>
    <div data-scrollreveal="enter bottom move after 0.2s">
        <p class="section-text">We provide retail electricity services through our duly licensed Retail Electricity Supplier (RES) company, SN Aboitiz Power-RES, Inc. (SNAP-RES).</p>
        <p class="section-text">SNAP-RES aims to become the country’s leading retail electricity supplier by providing innovative solutions that complement each industry’s unique requirements through our simple, fair and transparent contractual products. SNAP-RES continues to build sustainable partnerships with industry leaders and movers by becoming the solutions provider of choice.</p>
        <p class="section-text">To know more about retail electricity contract features and other information about retail electricity supply contracting, please visit the <a href="https://snap-res.github.io/" target="_blank"> SNAP-RES website.</a></p>
    </div>
</div>