<div class="content-section">
    <header>
        <div class="circle visible-lg visible-md hidden-sm hidden-xs">
            <span class="section-number" data-scrollreveal="enter bottom after 0.2s">2</span>
        </div>
        <div class="line-pipe visible-lg visible-md hidden-sm hidden-xs"></div>
        <h2 class="section-title" data-scrollreveal="enter bottom move after 0.2s">Wholesale Services</h2>
    </header>

    <p class="section-text">Using local and international expertise, we provide a wide variety of services for wholesale customers depending on their needs: </p>
    <div class="service-list" data-scrollreveal="enter bottom move after 0.2s">
        <h2 class="service-title">Power Supply Contracts</h2>
        <p class="service-text">Since SNAP is one of the largest providers of hydroelectric power, companies that contract on a wholesale level are able to reap benefits from making the choice to switch to renewable energy.</p>
    </div>
    <div class="service-list" data-scrollreveal="enter bottom move after 0.2s">
        <h2 class="service-title">Financial Contracts</h2>
        <p class="service-text">Companies that are interested in participating in the WESM may want to explore their options in financial contracting to better hedge their risk.</p>
    </div>
    <div class="service-list" data-scrollreveal="enter bottom move after 0.2s">
        <h2 class="service-title">Forward Contracts</h2>
        <p class="service-text">Through first-rate forecasting tools and best practices channeled from our international orientation, we can provide you with fair prices should you need to contract for future requirements.</p>
    </div>
</div>