<div class="content-section">
    <header>
        <div class="circle">
            <span class="section-number" data-scrollreveal="enter bottom after 0.2s">1</span>
        </div>
        <div class="line-pipe"></div>
        <h2 class="section-title" data-scrollreveal="enter bottom move after 0.2s">Wholesale Services</h2>
    </header>

    <p class="section-text">Using local and international expertise, we provide a wide variety of services for wholesale customers depending on their needs. A short summary of these services are available below:</p>
    <div class="service-list" data-scrollreveal="enter bottom move after 0.2s">
        <h2 class="service-title">Power Supply Contracts</h2>
        <p class="service-text">Since SNAP is one of the largest providers of hydroelectric power, companies that contract on a wholesale level are able to reap benefits from making the choice to switch to renewable energy.
        </p>
    </div>
    <div class="service-list" data-scrollreveal="enter bottom move after 0.2s">
        <h2 class="service-title">Financial Contracts</h2>
        <p class="service-text">Companies that wish to explore their options in the WESM may want to explore their options in financial contracting to better hedge their risk.</p>
    </div>
    <div class="service-list" data-scrollreveal="enter bottom move after 0.2s">
        <h2 class="service-title">Forward Contracts</h2>
        <p class="service-text">We harness our international experience through superb forecasting tools and best practices. Should you need to contract for any future requirements, we  can assist you by providing fair prices for your requirements.</p>
    </div>
</div>