<div class="top-section">
    <div class="left-section clearfix">
        <h2 class="section-header">Ambuklao Hydro</h2>
        <span class="section-location">Bokod, Benguet</span>
    </div>
    <div class="right-section clearfix">
        <div class="section-content">
            <span class="section-number">105</span>
            <span class="section-capacity">MW<br>capacity</span>
        </div>
    </div>
</div>
<div class="middle-section clearfix">
    <p class="section-description">At its original capacity of 75 megawatts, the Ambuklao Hydroelectric Power Plant was one of the first large hydroelectric power plants in the Philippines and is one of the oldest. Constructed in 1950 and completed in 1956, the facility runs along the upper portion the Agno river.</p>
    <p class="section-description">In 2007, SNAP won the bid for the Ambuklao-Binga hydroelectric power complex, which consisted of Ambuklao and the 100-MW Binga Plant. Ambuklao hydro re-operated in 2011 as a 105-MW power plant following its rehabilitation and upgrading. The plant had been shut down and put under preservation since 1999 due to damage from the 1990 earthquake.</p>
    <p class="section-description">Its health and safety system is internationally certified under the standards of the Integrated Management System (ISO 14001 Environmental Management System, ISO 9001 Quality Management System, and OHSAS 18001 Occupational Health & Safety Management System.</p>
</div>

