<div class="top-section clearfix">
    <div class="left-section clearfix">
        <h2 class="section-header">Ambuklao Hydro</h2>
        <span class="section-location">Bokod, Benguet</span>
        <span class="section-operation">Commercial Operation: June 2011</span>
    </div>
    <div class="right-section clearfix">
        <div class="section-content">
            <span class="section-number">105 MW</span>
            <span class="section-capacity">nameplate<br>capacity</span>
        </div>
        <div class="section-content">
            <span class="section-number">105 MW</span>
            <span class="section-capacity">dependable<br>capacity</span>
        </div>
    </div>
</div>

<div class="middle-section clearfix">
    <div class="left-section">
        <p class="section-description">At its original capacity of 75 megawatts, the Ambuklao Hydroelectric Power Plant was one of the first large hydroelectric power plants in the Philippines and is one of the oldest. Constructed in 1950 and completed in 1956, the facility runs along the upper portion the Agno river.</p>
        <p class="section-description">In 2007, SNAP won the bid for the Ambuklao-Binga hydroelectric power complex for US$325 million, which consisted of Ambuklao and the 100-MW Binga Plant. Ambuklao hydro re-operated in 2011 as a 105-MW power plant following its rehabilitation and upgrading. The plant had been shut down and put under preservation since 1999 due to damage from the 1990 earthquake.</p>
        <p class="section-description">Its health and safety system is internationally certified under the standards of the Integrated Management System (ISO 14001 Environmental Management System, ISO 9001 Quality Management System, and OHSAS 18001 Occupational Health & Safety Management System.</p>
    </div>
    <div class="right-section">
        <h2 class="section-header">Quick Facts and Figures</h2>
        <table class="list-container">
            <tr class="list-header-container">
                <td class="list-header">Dam</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Dam Type: <span class="bold-text">Earth embankment(Nanthahala type)</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Height: <span class="bold-text">129 meters</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Crest Length: <span class="bold-text">452 meters</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">River Source: <span class="bold-text">Agno River</span></td>
                
            </tr>

            <tr class="list-header-container">
                <th class="list-header">Reservoir</th>
            </tr>
            <tr class="list-content">
                <td class="light-text">Storage Capacity at Full Supply Level: <span class="bold-text">327mcm</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Elevation Full Supply Level: <span class="bold-text">752 masl</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Minimum Supply Level: <span class="bold-text">740 masl</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Maximum Flood Level: <span class="bold-text">754 masl</span></td>
                
            </tr>

            <tr class="list-header-container">
                <td class="list-header">Power</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Nameplate Capacity: <span class="bold-text">104.55 MW (34.85 MW x 3)</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Gross Min Head: <span class="bold-text">167.35 meters</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Gross Max Head: <span class="bold-text">179.35 meters</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Rated Net Head: <span class="bold-text">154.3 meters</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Rated Flow: <span class="bold-text">25 cms</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Turbine: <span class="bold-text">3 Units/Francis Horizontal Shaft</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Generator: <span class="bold-text">3 Units/Horizontal Synchronous</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Average Annual Output: <span class="bold-text">305.18 GWh (2012-2015)</span></td>
                
            </tr>
        </table>
    </div>
</div>

