<div class="top-section">
    <div class="left-section clearfix">
        <h2 class="section-header">Binga Hydro</h2>
        <span class="section-location">Itogon, Benguet</span>
        <span class="section-operation">Commercial Operation: December 2011</span>
    </div>
    <div class="right-section clearfix">
        <div class="section-content">
            <span class="section-number">140</span>
            <span class="section-capacity">MW<br>capacity</span>
        </div>
    </div>
</div>
<div class="middle-section clearfix">
    <p class="section-description">The Binga Hydroelectric Power Plant was built in 1960 and  lies 19 kilometers downstream of its sister facility,  Ambuklao. SNAP won the public bid for Binga and Ambuklao, which were sold as a package under the power sector privatization program of the Philippine government, in 2007 for US$325 million. Only the power components were privatized while the dams remain government-owned.</p>
    <p class="section-description">Binga hydro underwent refurbishment which began in 2010 and was completed in 2013.  This refurbishment increased the Binga Plant’s capacity from 100 to 125 MW.  It is now capable of generating up to 140 MW after further uprating.</p>
    <p class="section-description">It is internationally certified under the standards of the Integrated Management System (ISO 14001 Environmental Management System, ISO 9001 Quality Management System, and OHSAS 18001 Occupational Health & Safety Management System.</p>
</div>

