<div class="top-section">
    <div class="left-section clearfix">
        <h2 class="section-header">Binga Hydro</h2>
        <span class="section-location">Itogon, Benguet</span>
        <span class="section-operation">Commercial Operation: December 2011</span>
    </div>
    <div class="right-section clearfix">
        <div class="section-content">
            <span class="section-number">140 MW</span>
            <span class="section-capacity">nameplate<br>capacity</span>
        </div>
        <div class="section-content">
            <span class="section-number">140 MW</span>
            <span class="section-capacity">dependable<br>capacity</span>
        </div>
    </div>
</div>
<div class="middle-section clearfix">
    <div class="left-section">
        <p class="section-description">The Binga Hydroelectric Power Plant was built in 1960 and  lies 19 kilometers downstream of its sister facility,  Ambuklao. SNAP won the public bid for Binga and Ambuklao, which were sold as a package under the power sector privatization program of the Philippine government, in 2007 for US$325 million. Only the power components were privatized while the dams remain government-owned.</p>
        <p class="section-description">Binga hydro underwent refurbishment which began in 2010 and was completed in 2013.  This refurbishment increased the Binga Plant’s capacity from 100 to 125 MW.  It is now capable of generating up to 140 MW after further uprating.</p>
        <p class="section-description">It is internationally certified under the standards of the Integrated Management System (ISO 14001 Environmental Management System, ISO 9001 Quality Management System, and OHSAS 18001 Occupational Health & Safety Management System.</p>
    </div>
    <div class="right-section">
        <h2 class="section-header">Quick Facts and Figures</h2>
        <table class="list-container">
            <tr class="list-head-container">
                <th class="list-header">Dam</th>
            </tr>
            <tr class="list-content">
                <td class="light-text">Dam Type:</td>
                <td class="bold-text">Zone earth(Nanthahala type)</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Height:</td>
                <td class="bold-text">107.37 meters</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Crest Length:</td>
                <td class="bold-text">215 meters</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">River Source:</td>
                <td class="bold-text">Agno River</td>
            </tr>

            <tr>
                <td class="list-header">Reservoir</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Storage Capacity at Full Supply Level:</td>
                <td class="bold-text">21.193 MCM</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Elevation Full Supply Level:</td>
                <td class="bold-text">575 masl</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Minimum Supply Level:</td>
                <td class="bold-text">566 masl</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Maximum Flood Level:</td>
                <td class="bold-text">579.5 masl</td>
            </tr>


            <tr class="list-header-container">
                <th class="list-header">Power</th>
            </tr>
            <tr class="list-content">
                <td class="light-text">Installed Capacity:</td>
                <td class="bold-text">140 MW (35 MW x 4)</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Gross Min Head:</td>
                <td class="bold-text">150.5 meters</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Gross Max Head:</td>
                <td class="bold-text">158.5 meters</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Rated Net Head:</td>
                <td class="bold-text">156 meters</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Rated Flow:</td>
                <td class="bold-text">25 cms</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Turbine:</td>
                <td class="bold-text">4 Units/Francis Vertical Shaft</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Generator:</td>
                <td class="bold-text">4 Units/Vertical Synchronous</td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Average Annual Output:</td>
                <td class="bold-text">238.43 GWh (2012-2015)</td>
            </tr>
        </table>
    </div>
</div>

