<div class="top-section clearfix">
    <div class="left-section clearfix">
        <h2 class="section-header">Magat Hydro</h2>
        <span class="section-location">Ramon, Isabela and Alfonso Lista, Ifugao</span>
        <span class="section-operation">Commercial Operation: August 1983</span>
    </div>
    <div class="right-section clearfix">
        <div class="section-content">
            <span class="section-number">360 MW</span>
            <span class="section-capacity">nameplate<br>capacity</span>
        </div>
        <div class="section-content">
            <span class="section-number">380 MW</span>
            <span class="section-capacity">dependable<br>capacity</span>
        </div>
    </div>
</div>
<div class="middle-section clearfix">
    <div class="left-section">
        <p class="section-description">The Magat Hydroelectric Power Plant is one of the largest hydro facilities in Luzon, with a maximum output of 380 megawatts (MW). It draws water from the Magat river through the multi-purpose Magat dam.</p>
        <p class="section-description">The national government began construction of the plant in February 1980 and it was commissioned in December 1983. Under the Electric Power Industry Reform Act, the power facility was subject to privatization in 2006. Following a successful bid of US$530 million,, SNAP took over operations on April 26, 2007. Only the power components were privatized; the Magat dam and its re-regulating facilities downstream are owned and maintained by the National Irrigation Administration (NIA).</p>
        <p class="section-description">Magat hydro is certified under the Integrated Management System (ISO 14001 Environmental Management System, ISO 9001 Quality Management System, and OHSAS 18001 Occupational Health & Safety Management System.</p>
    </div>
    <div class="right-section">
        <h2 class="section-header">Quick Facts and Figures</h2>
        <table class="list-container">
            <tr class="list-header-container">
                <th class="list-header">Dam</th>
            </tr>
            <tr class="list-content">
                <td class="light-text">Dam Type: <span class="bold-text">Earth and rockfill dam</span></td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Height: <span class="bold-text">114 meters</span></td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Crest Length: <span class="bold-text">4,160 meters</span></td>
            </tr>
            <tr class="list-content">
                <td class="light-text">River Source: <span class="bold-text">Magat River</span></td>
            </tr>


            <tr class="list-header-container">
                <th class="list-header">Reservoir</th>
            </tr>
                <tr class="list-content">
                    <td class="light-text">Storage Capacity at Full Supply Level: <span class="bold-text">1.08bcm</span></td>
                </tr>
                <tr class="list-content">
                    <td class="light-text">Elevation Full Supply Level: <span class="bold-text">193 masl</span></td>
                    
                </tr>
                <tr class="list-content">
                    <td class="light-text">Minimum Supply Level: <span class="bold-text">160 masl</span></td>
                    
                </tr>
                <tr class="list-content">
                    <td class="light-text">Maximum Flood Level: <span class="bold-text">193 masl</span></td>
                    
                </tr>
            </tr>

            <tr class="list-header-container">
                <th class="list-header">Power</th>
            </tr>
            <tr class="list-content">
                <td class="light-text">Nameplate Capacity: <span class="bold-text">360 MW</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Gross Min Head: <span class="bold-text">58.3 meters</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Gross Max Head: <span class="bold-text">88.4 meters</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Rated Net Head: <span class="bold-text">81 meters</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Rated Flow: <span class="bold-text">127.9 cms</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Turbine: <span class="bold-text">4 Units/Francis Vertical Shaft</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Generator: <span class="bold-text">4 Units/Vertical Synchronous</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Average Annual Output: <span class="bold-text">734.52 GWh (2009-2015)</span></td>
                
            </tr>
        </table>
    </div>
</div>


