<div class="top-section clearfix">
    <div class="left-section clearfix">
        <h2 class="section-header">Maris Hydro</h2>
        <span class="section-location">Ramon, Isabela</span>
        <span class="section-operation">Commercial Operation: November 2017</span>
    </div>
    <div class="right-section clearfix">
        <div class="section-content">
            <span class="section-number">8.5 MW</span>
            <span class="section-capacity">nameplate<br>capacity</span>
        </div>
        <div class="section-content">
            <span class="section-number">8.5 MW</span>
            <span class="section-capacity">dependable<br>capacity</span>
        </div>
    </div>
</div>
<div class="middle-section clearfix">
    <div class="left-section">
        <p class="section-description">Maris hydro is the first power plant constructed by SNAP since it acquired Magat hydro in 2007 through privatization. Construction of the PHP2.15 billion run-of-river hydro plant took about two years – it ` broke ground in late 2015 and was completed in November 2017. Maris hydro utilizes the water coming from Magat hydro that goes into the Maris re-regulating dam located downstream of Magat, before flowing into the Maris Main (South) Irrigation Canal.</p>
        <p class="section-description">The Maris hydro project was proposed by SNAP-Magat’s operations and maintenance team under the company’s business creativity and innovation program. It was then developed and implemented by the business development group and later turned over to SNAP-Magat for operation.</p>
    </div>
    <div class="right-section">
        <h2 class="section-header">Quick Facts and Figures</h2>
        <table class="list-container">
            <tr class="list-header-container">
                <th class="list-header">Dam</th>
            </tr>
            <tr class="list-content">
                <td class="light-text">Dam Type: <span class="bold-text">Impounding</span></td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Height: <span class="bold-text">15 meters</span></td>
            </tr>
            <tr class="list-content">
                <td class="light-text">Crest Length: <span class="bold-text">216 meters</span></td>
            </tr>
            <tr class="list-content">
                <td class="light-text">River Source: <span class="bold-text">Magat River</span></td>
            </tr>


            <tr class="list-header-container">
                <th class="list-header">Reservoir</th>
            </tr>
                <tr class="list-content">
                    <td class="light-text">Storage Capacity at Full Supply Level: <span class="bold-text">6 mcm</span></td>
                </tr>
                <tr class="list-content">
                    <td class="light-text">Elevation Full Supply Level: <span class="bold-text">107.75 masl</span></td>
                    
                </tr>
                <tr class="list-content">
                    <td class="light-text">Minimum Supply Level: <span class="bold-text">101.5 masl</span></td>
                    
                </tr>
                <tr class="list-content">
                    <td class="light-text">Maximum Flood Level: <span class="bold-text">108 masl</span></td>
                    
                </tr>
            </tr>

            <tr class="list-header-container">
                <th class="list-header">Power</th>
            </tr>
            <tr class="list-content">
                <td class="light-text">Nameplate Capacity: <span class="bold-text">8.5 MW (4.25 MW x 2)</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Gross Min Head: <span class="bold-text">3 meters</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Gross Max Head: <span class="bold-text">12.05 meters</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Rated Net Head: <span class="bold-text">7 meters</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Rated Flow: <span class="bold-text">61.0 cms</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Turbine: <span class="bold-text">2 Units/Horizontal Kaplan</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Generator: <span class="bold-text">2 Units/Horizontal Synchronous</span></td>
                
            </tr>
            <tr class="list-content">
                <td class="light-text">Average Annual Output: <span class="bold-text">42.33 GWh</span></td>
                
            </tr>
        </table>
    </div>
</div>


