<div class="upper-section">
    <div class="left-section clearfix">
        <h2 class="section-header">New Projects</h2>
        <p class="section-description">Our Business Development Program aims to grow our renewable portfolio by looking at potential hydro projects in the Philippines, primarily within its current host communities in northern Luzon.</p>
    </div>
</div>
<div class="lower-section clearfix">
    <h2 class="section-header">Alimit Hydro</h2>
    <p class="section-description">SNAP is proposing to build the Alimit Hydropower Complex in the province of Ifugao with a potential capacity of 390 MW. A Free Prior and Informed Consent process facilitated by the National Commission on Indigenous Peoples is currently being conducted.</p>
</div>


