---
layout: page-layout/news
---
<div class="section fp-normal-scroll fp-auto-height" id="news">
    <div class="container-fluid content-container">
        <div class="grid">
            <div class="grid-sizer"></div>
            {% assign sortedPost = paginator.posts | sort: 'slugID' %}
            {% for news in sortedPost reversed %}
            {% assign counter = counter | plus:1 %}

            <div data-slug="{{ news.slugID }}" class="grid-item">
                <a href="{{ news.url }}" target="_blank" class="news-link">
                    <div class="news-content">
                        <div class="news-date">
                            <span class="date">{{ news.date | date: '%B %d, %Y' }}</span>
                        </div>
                        <h4 class="news-title">{{ news.title }} </h4>
                        <p>{{ news.content | truncatewords: 20 }}</p>
                        <img class="news-image img-responsive center-block" src="{{ news.cover }}" alt="{{ news.title }}"/>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
            {% else %}
            <span class="previous">Previous</span>
            {% endif %}
            <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
            {% else %}
            <span class="next ">Next</span>
            {% endif %}
        </div>
    </div>
</div>