<div class="container container-section">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 left-section">
        <!-- Nav tabs -->
        <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="tabs-list active">
                <a class="tabs-link" href="#snap-group" aria-controls="snap-group"  role="tab" data-toggle="tab">Snap Group</a>
            </li>
            <li class="tabs-list"  role="presentation">
                <a class="tabs-link" href="#strategic-foundation" aria-controls="strategic-foundation" role="tab" data-toggle="tab">StrategicFoundation</a>
            </li>
            <li class="tabs-list" role="presentation">
                <a class="tabs-link" href="#shareholder" aria-controls="shareholder" role="tab" data-toggle="tab">Shareholders</a>
            </li>
            <li class="tabs-list" role="presentation">
                <a class="tabs-link" href="#leadership" aria-controls="leadership" role="tab" data-toggle="tab">Leadership</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="content-list tab-pane fade in active" id="snap-group">
                {% include about-us/snap-group.html %}
            </div>
            <div class="content-list tab-pane fade" id="strategic-foundation">
                {% include about-us/strategic-foundation.html %}
            </div>
            <div class="content-list tab-pane fade" id="shareholder">
                {% include about-us/shareholder.html %}
            </div>
            <div class="content-list tab-pane fade" id="leadership">
                {% include about-us/leadership.html %}
            </div>
        </div>


    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 right-section">
        {% include side-gallery.html %}
    </div>
</div>