<div class="section" id="cover" data-anchor="section-1">
    <div id="canvas"></div>
    <div class="intro-section">
        <div class="section-container"> 
            <div class="intro-top">  <h2 class="intro-header">ABOUT SNAP</h2> </div>
            <!--<div class="intro-middle">  <p class="intro-text">The leading retail electricity supplier in the country-->
                <!--through profitable growth, excellence in business processes, and innovate solutions</p> -->
            <!--</div>-->
            <!--<div class="intro-bottom">  <a href="#company" class="intro-link">Learn more</a> </div>-->
        </div>
    </div>
</div>