<div class="content-section">
    <div class="description-section">
        <p class="description">Our Management Committee is composed of experienced practitioners from various fields and
            industries, converging into a cohesive unit to pursue SNAP’s vision of being the leading renewable energy
            provider in the country.</p>
    </div>
    <div class="officer-section">
        <ul class="officer-container">
            {% for officer in site.data.leadership %}
            {% assign counter = counter | plus:1 %}
            <li class="officer-list">
                <span class="officer-name">{{ officer.name }}</span>
                <span class="officer-position">{{ officer.position }}</span>
            </li>
            {% if counter == 7 %}
            <span class="divider">A team of Assistant Vice presidents handling various areas of specialization support the MANCOM:</span>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>