<div class="content-section">
    <header>
        <span class="section-number">05</span>
        <h2 class="section-title">Leadership</h2>
    </header>
    <p class="section-text">Our Management Committee is composed of experienced practitioners from various fields and industries, converging into a cohesive unit to pursue SNAP’s vision of being the leading renewable energy provider in the country.</p>
</div>
<div class="image-section clearfix">
    <ul id="image-container">
        {% for people in site.data.leadership %}
        <li class="image-list col-md-4 no-gutter">
            <img src="{{ people.image }}" class="image"/>
            <div class="user-info">
                <span class="user-name">{{ people.name }}</span>
                <span class="user-position">{{ people.position }}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>