<div class="content-section">
    <header class="visible-lg visible-md hidden-sm hidden-xs">
        <div class="circle">
            <span class="section-number" data-scrollreveal="enter bottom after 0.2s">3</span>
        </div>
        <div class="line-pipe"></div>
        <h2 class="section-title" data-scrollreveal="enter bottom after 0.2s">Leadership</h2>
    </header>
    <p class="section-text" data-scrollreveal="enter bottom after 0.2s">Our Management Committee is composed of experienced practitioners from various fields and industries, converging into a cohesive unit to pursue SNAP’s vision of being the leading renewable energy provider in the country.</p>
</div>
<div class="image-section clearfix">
    <ul id="image-container" data-scrollreveal="enter bottom after 0.2s">
        {% for people in site.data.leadership %}
        <li class="image-list col-md-4 no-gutter">
            <img src="/img/leader/{{ people.image }}.jpg" class="image center-block"/>
            <div class="user-info">
                <div class="info-container">
                    <span class="user-name">{{ people.name }}</span>
                    <span class="user-position">{{ people.position }}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>