<div class="content-section">
    <header>
        <span class="section-number" data-scrollreveal="enter bottom after 0.2s">02</span>
        <h2 class="section-title" data-scrollreveal="enter bottom after 0.2s">New Projects</h2>
        <p class="section-text"></p>
    </header>

    <div class="plant-list">
        <h2 class="plant-title">Magat Hydro</h2>
        <p>Our Greenfield Development Program aims to grow our renewable portfolio by looking at potential hydro projects in the Philippines, primarily within its current host communities in northern Luzon.</p>

        <p class="plant-text">The Magat Hydroelectric Power Plant is one of the largest hydro facilities in Luzon. It draws water from the Magat river through the multi-purpose Magat dam.</p>
        <p class="plant-text">Built by the national government in 1980 and commissioned in 1983, the power facility was subject to privatization in 2006. Following a successful bid in December 2006, SNAP took over operations in 2007. Only the power components were privatized; the Magat dam and its re-regulating facilities downstream are owned and maintained by the National Irrigation Administration (NIA).</p>
        <p class="plant-text">Magat hydro is certified under the Integrated Management System (ISO 14001 Environmental Management System, ISO 9001 Quality Management System, and OHSAS 18001 Occupational Health & Safety Management System.</p>
        <p class="plant-text"></p>

    </div>
</div>