<div class="content-section">
    <header>
        <div class="circle visible-lg visible-md hidden-sm hidden-xs">
            <span class="section-number" data-scrollreveal="enter bottom after 0.2s">1</span>
        </div>
        <div class="line-pipe visible-lg visible-md hidden-sm hidden-xs"></div>
        <h2 class="section-title" data-scrollreveal="enter bottom after 0.2s">New Projects</h2>
    </header>

    <div class="section-list" data-scrollreveal="enter bottom after 0.2s">
        <p class="description-section">Our Greenfield Development Program aims to grow our renewable portfolio by looking at potential hydro projects in the Philippines, primarily within its current host communities in northern Luzon.</p>
        <h2 class="header-section">Maris Hydro</h2>
        <p class="description-section">The Maris Canal Hydropower Plant Project involves the construction of an 8.5-MW run-of-river hydropower plant in Ramon, Isabela. The project broke ground in late 2015 and is targeted for completion by late 2017.</p>
        <h2 class="header-section">Alimit Hydro</h2>
        <p class="description-section">SNAP is proposing to build the Alimit Hydropower Complex in the province of Ifugao with a potential capacity of 390 MW. A Free Prior and Informed Consent process facilitated by the National Commission on Indigenous Peoples is currently being conducted.</p>

    </div>
</div>