<div class="slide slide-magat" id="slide1">
    <div class="slide-section clearfix">
        <div class="container">
            {% include about-us/plant/magat.html %}
        </div>
    </div>
</div>
<div class="slide slide-ambuklao" id="slide2">
    <div class="slide-section clearfix">
        <div class="container">
        {% include about-us/plant/ambuklao.html %}
        </div>
    </div>
</div>
<div class="slide slide-binga" id="slide3">
    <div class="slide-section clearfix">
        <div class="container">
            {% include about-us/plant/binga.html %}
        </div>
    </div>
</div>
<div class="slide slide-project" id="slide4">
    <div class="slide-section clearfix">
        <div class="container">
            {% include about-us/plant/project.html %}
        </div>
    </div>
</div>
