<div class="content-section">
    <header>
        <span class="section-number" data-scrollreveal="enter bottom after 0.2s">01</span>
        <h2 class="section-title" data-scrollreveal="enter bottom after 0.2s">Power Plants</h2>
    </header>

    <div class="plant-list">
        <h2 class="plant-title">Magat Hydro</h2>

        <span class="plant-spec"><b>Capacity:</b> 360 MW</span>
        <span class="plant-spec"><b>Location:</b> Ramon, Isabela and Alfonso Lista, Ifugao</span>
        <span class="plant-spec"><b>Commercial Operation:</b> August 1983</span>

        <p class="plant-text">The Magat Hydroelectric Power Plant is one of the largest hydro facilities in Luzon. It draws water from the Magat river through the multi-purpose Magat dam.</p>
        <p class="plant-text">Built by the national government in 1980 and commissioned in 1983, the power facility was subject to privatization in 2006. Following a successful bid in December 2006, SNAP took over operations in 2007. Only the power components were privatized; the Magat dam and its re-regulating facilities downstream are owned and maintained by the National Irrigation Administration (NIA).</p>
        <p class="plant-text">Magat hydro is certified under the Integrated Management System (ISO 14001 Environmental Management System, ISO 9001 Quality Management System, and OHSAS 18001 Occupational Health & Safety Management System.</p>
        <p class="plant-text"></p>

    </div>
    <div class="plant-list" data-scrollreveal="enter bottom after 0.3s">
        <h2 class="plant-title">Ambuklao Hydro</h2>

        <span class="plant-spec"><b>Capacity:</b> 105 MW</span>
        <span class="plant-spec"><b>Location:</b> Bokod, Benguet</span>
        <span class="plant-spec"><b>Commercial Operation:</b> June 2011</span>

        <p class="plant-text">At its original capacity of 75 megawatts, the Ambuklao Hydroelectric Power Plant was one of the first large hydroelectric power plants in the Philippines and is one of the oldest. Constructed in 1950 and completed in 1956, the facility runs along the upper portion the Agno river.</p>
        <p class="plant-text">In 2007, SNAP won the bid for the Ambuklao-Binga hydroelectric power complex, which consisted of Ambuklao and the 100-MW Binga Plant. Ambuklao hydro re-operated in 2011 as a 105-MW power plant following its rehabilitation and upgrading. The plant had been shut down and put under preservation since 1999 due to damage from the 1990 earthquake.</p>
        <p class="plant-text">Its health and safety system is internationally certified under the standards of the Integrated Management System (ISO 14001 Environmental Management System, ISO 9001 Quality Management System, and OHSAS 18001 Occupational Health & Safety Management System.</p>

    </div>
    <div class="plant-list" data-scrollreveal="enter bottom after 0.3s">
        <h2 class="plant-title">Binga Hydro</h2>

        <span class="plant-spec"><b>Capacity:</b> 140 MW</span>
        <span class="plant-spec"><b>Location:</b> Itogon, Benguet</span>
        <span class="plant-spec"><b>Commercial Operation:</b> December 2011</span>

        <p class="plant-text">Built in 1960, the Binga Hydroelectric Power Plant lies 19 kilometers downstream of Ambuklao. SNAP won the public bid for Binga and its neighboring power facility Ambuklao in 2007, which were sold as a package under the power sector privatization program of the Philippine government. Only the power components were privatized while the dams remain government-owned.</p>
        <p class="plant-text">Binga hydro underwent refurbishment which began in 2010 and was completed in 2013.  This refurbishment increased the Binga Plant’s capacity to 125 MW.  It is now capable of generating up to 140 MW after further uprating.</p>
        <p class="plant-text">It is internationally certified under the standards of the Integrated Management System (ISO 14001 Environmental Management System, ISO 9001 Quality Management System, and OHSAS 18001 Occupational Health & Safety Management System.</p>
    </div>
</div>