<section class="content-section">
    <header>
        <div class="circle visible-lg visible-md hidden-sm hidden-xs">
            <span class="section-number" data-scrollreveal="enter bottom after 0.2s">2</span>
        </div>
        <div class="line-pipe visible-lg visible-md hidden-sm hidden-xs"></div>
        <h2 class="section-title" data-scrollreveal="enter bottom after 0.2s">Shareholders</h2>
    </header>
    <div class="section-list">
        <p class="description-section" data-scrollreveal="enter bottom after 0.2s">
            <b class="header-section">SN Power</b> is a hydropower development company, operating exclusively in emerging markets. The company
            is a joint venture between Statkraft and Norfund and has projects and operations in Asia, Latin America and
            Africa. SN Power is working to develop a portfolio in the range of 3000 MW of hydropower plants, while
            combating climate change and contributing to sustainable development. SN Power has over 500 people employed
            in fourteen countries around the globe. Its headquarters are in Oslo, Norway.</p>

        <p class="description-section" data-scrollreveal="enter bottom after 0.2s">
            <b class="header-section">AboitizPower Corporation</b> is a wholly owned subsidiary representing the
            consolidated electricity interests of the Aboitiz Group which is one of the largest conglomerates in the
            Philippines, focusing on the electricity, financial, and food sectors. Aboitiz has been involved in the
            Philippine electricity industry since the 1930s.</p>
    </div>
</section>