<div class="content-section">
    <div class="image-section">
        <img class="image logo-1" src="/img/group/colored/sn-aboitiz.png"/>
    </div>
    <div class="image-description-1">
        <p class="description">
            SN Power is jointly owned by Statkraft and Norfund. It consists of two companies, SN Power AS and Agua Imara
            AS. SN Power AS focuses exclusively on developments in South East Asia while the business in Africa and
            Central America is performed through the subsidiary Agua Imara AS. SN Power is dedicated to playing a role
            as a leading hydropower provider in emerging markets, facilitating development and local economic growth
            through the delivery of clean, renewable energy.
        </p>
    </div>
</div>
<div class="content-section">
    <div class="image-section">
        <img class="image logo-2" src="/img/group/colored/aboitiz.png"/>
        <img class="image logo-3" src="/img/group/colored/aboitizpower.png"/>
    </div>
    <div class="image-description-2">
        <p class="description">
            AboitizPower Corporation (AboitizPower, AP) is the holding company for the Aboitiz Group’s investments in
            power generation, distribution, and retail electricity services. Incorporated in 1998, AboitizPower is a
            publicly listed holding company that, through its subsidiaries and affiliates, is a leader in the Philippine
            power industry and has interest in a number of privately-owned generation companies and distribution
            utilities.
        </p>
    </div>
</div>