<section class="content-section">
    <header>
        <span class="section-number" data-scrollreveal="enter bottom after 0.2s">03</span>
        <h2 class="section-title" data-scrollreveal="enter bottom after 0.2s">SNAP Group</h2>
    </header>
    <div data-scrollreveal="enter bottom after 0.2s">
        <p class="section-text">SN Aboitiz Power-Magat, Inc. owns and operates the 360-megawatt (MW) Magat Hydroelectric Power Plant (HEPP) located at the border of Ramon, Isabela and Alfonso Lista, Ifugao.</p>
        <p class="section-text">The Magat HEPP was a state-owned facility until SNAP-Magat took over operations on April 26, 2007. A year earlier on December 14, 2006, SNAP-Magat had successfully bid for the plant in the amount of USD530 million under the Philippine government’s power sector privatization program.</p>
        <p class="section-text">SNAP-Magat has 22 host barangays (villages) located in 10 municipalities across the three provinces of Isabela, Ifugao, and Nueva Viscaya.</p>
        <p class="section-text">SN Aboitiz Power-Benguet, Inc. owns and operates the 105-MW Ambuklao HEPP in Bokod and the 140-MW Binga HEPP in Itogon, both located in Benguet.</p>
        <p class="section-text">On November 28, 2007, SNAP-Benguet won the public bid for the Ambuklao and Binga HEPPs, which were sold as a package under the power sector privatization program of the Philippine government. SNAP-Benguet offered a bid price of USD325 million and took over operations on July 10, 2008. The dams remain government-owned.</p>
        <p class="section-text">SNAP-Benguet is hosted by the province of Benguet and the municipalities of Itogon and Bokod. It has 3 host barangays, as well as the Shakilan ni Ikulos Indigenous Peoples’ Organization and the Tinongdan Indigenous Peoples’ Organization.</p>
        <p class="section-text">Both companies are joint ventures between SN Power of Norway and AboitizPower.</p>
        <p class="section-text">SN Aboitiz Power Group is the collective name of SNAP-Magat and SNAP-Benguet. It is a recipient of several local awards and citations for its safety records, community programs, stakeholder relations and environmental campaigns. It has also received international recognition in the Asian region for privatization and project financing as well as for its plants’ performance as independent power producers.</p>
    </div>
</section>

