<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" id="icon-transition" class="navbar-toggle toggle-menu menu-right" data-toggle="collapse" data-target="#navbar-right-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="brand-logo center-block" src="/img/snap-logo.svg"/>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-right-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for menu in site.navbar-menu %}
                <li {% if page.url == menu.slugID %} class="navbar-list active-menu" {% else %} class="navbar-list" {% endif %}>
                    <a  class="navbar-link" href="{{ menu.slugID }}">{{ menu.title }}</a>
                </li>
                {% endfor %}
                <!--<li class="navbar-list-button">-->
                    <!--<button data-toggle="modal" data-target="#searchModal" class="navbar-search">-->
                        <!--<img class="search-icon" src="/img/search.png"/>-->
                    <!--</button>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>