<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="container-fluid">
            <div class="modal-header">
                <div id="search-container" class="input-group">
                    <input type="text" id="search-input" class="form-control" placeholder="What are you looking for?"/>
                    <span class="input-group-btn input-group-btn">
                        <button class="btn btn-default search-icon hidden-xs">

                        </button>
                        <button class="btn btn-default btn-close" data-dismiss="modal" aria-label="Close">
                            <span class="glyphicon glyphicon-remove"/>
                        </button>
                    </span>
                </div>
            </div>
            <div class="modal-body">
                <ul id="results-container"></ul>
            </div>
        </div>
    </div>
</div>