<div class="top-section">
    <div class="left-section clearfix">
        <h2 class="section-header">Ambuklao Hydro</h2>
        <span class="section-location">Bokod, Benguet</span>
    </div>
    <div class="right-section clearfix">
        <div class="section-content">
            <span class="section-number">105</span>
            <span class="section-capacity">MW<br>Capacity</span>
        </div>
    </div>
</div>
<div class="middle-section clearfix">
    <p class="section-description">At its original capacity of 75 megawatts, the Ambuklao Hydroelectric Power Plant was one of the first large hydroelectric power plants in the Philippines and is one of the oldest. Constructed in 1950 and completed in 1956, the facility runs along the upper portion the Agno river.</p>
</div>
<div class="bottom-section clearfix">
    <div class="intro-bottom"> 
        <a href="#" class="intro-link">Learn more</a> 
    </div>
</div>

