<div class="top-section visible-lg hidden-md hidden-sm hidden-xs">
    <div class="left-section clearfix">
        <div class="section-content">
            <p class="section-description">Our Magat, Ambuklao, and Binga hydropower plants can go from zero to maximum output quickly, allowing us to meet the changing demands for electricity.</p>
        </div>
    </div>
    <div class="right-section clearfix">
        <span class="section-header">625</span>
        <span class="section-text">MW of dependable <br/> capacity</span>
    </div>
</div>


<div class="top-section hidden-lg visible-md visible-sm visible-xs">
    <div class="left-section clearfix">
        <span class="section-header">625</span>
        <span class="section-text">MW of dependable <br/> capacity</span>
    </div>
    <div class="right-section clearfix">
        <div class="section-content">
            <p class="section-description">Our Magat, Ambuklao, and Binga hydropower plants can go from zero to maximum output quickly, allowing us to meet the changing demands for electricity.</p>
        </div>
    </div>
</div>
