<div class="top-section">
    <div class="left-section clearfix">
        <span class="section-header">615 MW of Installed Capacity</span>
        <!--<span class="section-location">Bokod, Benguet</span>-->
    </div>
    <!--<div class="right-section clearfix">-->
        <!--<div class="section-content">-->
            <!--<span class="section-number">105</span>-->
            <!--<span class="section-capacity">MW<br>Capacity</span>-->
        <!--</div>-->
    <!--</div>-->
</div>
<div class="middle-section clearfix">
    <p class="section-description">Our Magat, Ambuklao, and Binga hydropower plants can go from zero to maximum output quickly, allowing us to meet the changing demands for electricity.</p>
</div>
<!--<div class="bottom-section clearfix">-->
    <!--<div class="intro-bottom"> -->
        <!--<a href="#" class="intro-link">Learn more</a> -->
    <!--</div>-->
<!--</div>-->

