<div class="top-section">
    <div class="left-section clearfix">
        <span class="section-header">43 Host Communities</span>
        <!--<span class="section-location">Itogon, Benguet</span>-->
    </div>
    <!--<div class="right-section clearfix">-->
        <!--<div class="section-content">-->
            <!--<span class="section-number">140</span>-->
            <!--<span class="section-capacity">MW<br>Capacity</span>-->
        <!--</div>-->
    <!--</div>-->
</div>
<div class="middle-section clearfix">
    <p class="section-description">In SNAP, CSR is a journey, a philosophy, and an approach that affirms our commitment to positive change in our communities.</p>
</div>
<!--<div class="bottom-section clearfix">-->
    <!--<div class="intro-bottom"> -->
        <!--<a href="#" class="intro-link">Learn more</a> -->
    <!--</div>-->
<!--</div>-->

