.fp-viewing-section-1-0,
.fp-viewing-section-1-1,
.fp-viewing-section-1-2,
.fp-viewing-section-1-3
  #fp-nav.right
    display: none

#fp-nav
  ul
    li:nth-child(2)
      display: none

.fp-controlArrow.fp-next
  border-color: transparent transparent transparent #D8D8D8 !important
  border-width: 0 !important
  background-image: url("/img/arrow.png")
  background-repeat: no-repeat
  background-size: 80px
  height: 119px
  width: 37px !important
  background-position-x: -43px
  right: 30px !important

.fp-controlArrow.fp-prev
  border-color: transparent #D8D8D8 transparent transparent !important
  border-width: 0 !important
  background-image: url("/img/arrow.png")
  background-repeat: no-repeat
  background-size: 80px
  height: 119px
  width: 37px !important
  left: 30px !important



#our-plant
  position: relative
  background-color: #f5f5f5
  //navigation color
  #fp-nav ul li a span, .fp-slidesNav ul li a span
    background: white !important
  .slide-container
    position: relative
    .slide
      height: 100vh
      background-size: cover
      background-position: top center
      &.slide-project
        background-image: linear-gradient(rgba(14, 44, 82, 0.5), rgba(14, 44, 82, 0.5)),url("https://res.cloudinary.com/snapcloud/image/upload/v1496555636/slider/new-project.jpg")
      &.slide-ambuklao
        background-image: linear-gradient(rgba(14, 44, 82, 0.5), rgba(14, 44, 82, 0.5)),url("https://res.cloudinary.com/snapcloud/image/upload/slider/ambuklao.jpg")
      &.slide-magat
        background-image: linear-gradient(rgba(14, 44, 82, 0.5), rgba(14, 44, 82, 0.5)),url("https://res.cloudinary.com/snapcloud/image/upload/slider/magat.jpg")
      &.slide-binga
        background-image: linear-gradient(rgba(14, 44, 82, 0.5), rgba(14, 44, 82, 0.5)),url("http://res.cloudinary.com/snapcloud/image/upload/slider/binga.jpg")
      &.slide-maris
        background-image: linear-gradient(rgba(14, 44, 82, 0.5), rgba(14, 44, 82, 0.5)),url("http://res.cloudinary.com/snapcloud/image/upload/slider/maris.jpg")
      .slide-section
        position: relative
        top: 50%
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        color: white
        //New project style
        .upper-section
          .section-header
            font-family: "Cambria"
            font-size: 48px
            margin-bottom: 15px
          .section-description
            font-size: 16px
            line-height: 1.9
            margin: 15px 0
        .lower-section
          float: left
          position: relative
          width: 100%
          margin: 0
          padding: 5vh 0 3vh
          &:before
            top: 0
            transform-origin: 0 0
            position: absolute
            content: ''
            width: 100%
            height: 1px
            left: 0
            background-color: rgba(255,255,255,.2)
            transform: scaleX(1) translateZ(0)
          .section-header
            font-family: "Cambria"
            font-size: 42px
            margin-bottom: 15px
            margin-left: 15px
            margin-right: 15px
          .section-description
            font-size: 16px
            line-height: 1.9
            margin: 15px 15px 30px

        //3 slides style
        .top-section
          position: relative
          .left-section
            float: left
            width: 60%
            .section-header
              font-family: "Cambria"
              font-size: 48px
              margin-bottom: 15px
            .section-location
              font-size: 16px
              display: block
            .section-operation
              display: block
              font-size: 16px
              margin-top: 10px

          .right-section
            float: left
            width: 40%
            .section-content
              margin-bottom: 8px
              .section-number
                display: inline-block
                font-size: 38px
                margin-right: 15px
                vertical-align: middle
              .section-capacity
                font-family: "Segoeui-Light"
                vertical-align: middle
                font-size: 18px
                display: inline-block

      .middle-section
        float: left
        position: relative
        width: 100%
        margin: 15px 0
        padding: 0
        &:before
          top: 0
          transform-origin: 0 0
          position: absolute
          content: ''
          width: 100%
          height: 1px
          left: 0
          background-color: rgba(255,255,255,.2)
          transform: scaleX(1) translateZ(0)
        &:after
          transform: scaleX(1) translateZ(0)
          bottom: 0
          transform-origin: 100% 0
          position: absolute
          content: ''
          width: 100%
          height: 1px
          left: 0
          background-color: rgba(255,255,255,.2)
        .left-section
          float: left
          width: 70%
          padding-right: 15px
          .section-description
            font-size: 16px
            line-height: 1.9
            margin-top: 15px
            margin-bottom: 15px
        .right-section
          padding-left: 15px
          width: 30%
          margin-top: 15px
          margin-bottom: 15px
          float: left
          .section-header
            font-size: 16px
            font-family: "Segoeui"
            margin-bottom: 10px
          .list-container
            border-collapse: separate
            border-spacing: 0 2px
            .list-header-container
              margin-bottom: 10px
              .list-header
                display: block
                font-size: 14px
                font-family: "Segoeui-Bold"
                margin-top: 5px
                margin-bottom: 5px
            .list-content
              .light-text
                font-family: "Segoeui-Light"
                font-size: 14px
                margin-bottom: 5px
              .bold-text
                font-family: "Segoeui"
                font-size: 14px
                margin-left: 5px
                margin-bottom: 5px



#snap-group
  position: relative
  .content-section
    transform: matrix(1, 0, 0, 1, 0, 0)
    width: 920px
    padding-left: 180px
    margin: 100px auto 0
    &:before
      height: calc(100% + 120px)
      top: -100px
      width: 1px
      content: ''
      display: block
      background-color: #e1e1e1
      position: absolute
      left: 9.8%
      z-index: -1
    .line-pipe
      position: absolute
      left: -9px
      top: 44px
      border-bottom: 2px solid #e1e1e1
      width: 100px
      z-index: 4
    .circle
      position: absolute
      top: 0
      left: -45px
      height: 90px
      width: 90px
      border: 5px solid #e1e1e1
      border-radius: 50%
      z-index: 5
      background-color: #e1e1e1
      .section-number
        font-family: "Segoeui-Bold"
        font-size: 35px
        top: 20px
        left: 30px
        position: relative
        display: inline-block
    .section-title
      font-family: "Segoeui-Bold"
      font-size: 32px

    .section-text
      margin: 20px 0
      line-height: 34px
    .section-list
      .header-section
        font-family: "Segoeui-Bold"
        font-size: 18px
        margin-top: 20px
        margin-bottom: 20px
      .description-section
        color: #636768
        font-size: 16px
        font-family: "Segoeui"
        line-height: 34px


#strategic-foundation
  position: relative
  .content-section
    transform: matrix(1, 0, 0, 1, 0, 0)
    width: 920px
    padding-left: 180px
    margin: 100px auto 0
    &:before
      height: calc(100% + 120px)
      top: -100px
      width: 1px
      content: ''
      display: block
      background-color: #e1e1e1
      position: absolute
      left: 9.8%
      z-index: -1
    .line-pipe
      position: absolute
      left: -9px
      top: 44px
      border-bottom: 2px solid #e1e1e1
      width: 100px
      z-index: 4
    .circle
      position: absolute
      top: 0
      left: -45px
      height: 90px
      width: 90px
      border: 5px solid #e1e1e1
      border-radius: 50%
      z-index: 5
      background-color: #e1e1e1
      .section-number
        font-family: "Segoeui-Bold"
        font-size: 35px
        top: 20px
        left: 30px
        position: relative
        display: inline-block
    .section-title
      font-family: "Segoeui-Bold"
      font-size: 32px

    .section-text
      margin: 20px 0
      line-height: 34px
    .section-list
      .header-section
        font-family: "Segoeui-Bold"
        font-size: 18px
        margin-top: 20px
        margin-bottom: 10px
      .description-section
        color: #636768
        font-size: 16px
        font-family: "Segoeui"
        line-height: 34px
        margin-bottom: 15px
      #mission-container
        margin-bottom: 50px
        .mission-list
          background-image: url("/img/plus-icon.png")
          background-repeat: no-repeat
          background-size: 20px
          background-position: left center
          padding-left: 30px
          color: #636768
          font-size: 16px
          font-family: "Segoeui"
          line-height: 35px
          margin-bottom: 20px
      #vision-container
        margin-bottom: 50px
      .values-container
        .values-list
          .image-section
            margin-bottom: 15px
            .values-image
              max-width: 217px
              border-radius: 50%
              border: 5px solid #0E6BA2
            .values-info
              border-radius: 50%
              top: 0
              max-width: 100%
              max-height: 100%
              width: 217px
              height: 217px
              margin-left: auto
              margin-right: auto
              left: 0
              right: 0
              background-color: rgba(14,107,162,0.75)
              opacity: 0
              position: absolute
              bottom: 0
              transition: opacity 0.5s
              font-size: 16px
              line-height: 24px
              .info-container
                top: 50%
                transform: translateY(-50%)
                -webkit-transform: translateY(-50%)
                -moz-transform: translateY(-50%)
                -o-transform: translateY(-50%)
                -ms-transform: translateY(-50%)
                position: absolute
                left: 0
                right: 0
                .values-description
                  display: block
                  color: #ffffff
                  text-align: center
                  left: 0
                  right: 0
                  margin-left: auto
                  margin-right: auto

          .values-title
            display: block
            text-align: center
            margin-bottom: 60px
          .values-description
            display: none
            text-align: center

#shareholder
  position: relative
  .content-section
    transform: matrix(1, 0, 0, 1, 0, 0)
    width: 920px
    padding-left: 180px
    margin: 100px auto 0
    &:before
      height: calc(100% + 120px)
      top: -100px
      width: 1px
      content: ''
      display: block
      background-color: #e1e1e1
      position: absolute
      left: 9.8%
      z-index: -1
    .line-pipe
      position: absolute
      left: -9px
      top: 44px
      border-bottom: 2px solid #e1e1e1
      width: 100px
      z-index: 4
    .circle
      position: absolute
      top: 0
      left: -45px
      height: 90px
      width: 90px
      border: 5px solid #e1e1e1
      border-radius: 50%
      z-index: 5
      background-color: #e1e1e1
      .section-number
        font-family: "Segoeui-Bold"
        font-size: 35px
        top: 20px
        left: 30px
        position: relative
        display: inline-block
    .section-title
      font-family: "Segoeui-Bold"
      font-size: 32px
    .section-text
      margin: 20px 0
      line-height: 34px
    .section-list
      .description-section
        color: #636768
        font-size: 16px
        font-family: "Segoeui"
        line-height: 34px
        margin: 20px 0
        .header-section
          font-family: "Segoeui-Bold"
          font-size: 18px
          margin-top: 20px
          margin-bottom: 20px
      .link-container
        list-style: disc
        .link-list
          margin-top: 10px
          margin-bottom: 10px
          .link-section
            display: block
            font-size: 16px

#leadership
  position: relative
  .content-section
    transform: matrix(1, 0, 0, 1, 0, 0)
    width: 920px
    padding-left: 180px
    margin: 100px auto 0
    &:before
      height: calc(100% + 120px)
      top: -100px
      width: 1px
      content: ''
      display: block
      background-color: #e1e1e1
      position: absolute
      left: 9.8%
      z-index: -1
    .line-pipe
      position: absolute
      left: -9px
      top: 44px
      border-bottom: 2px solid #e1e1e1
      width: 100px
      z-index: 4
    .circle
      position: absolute
      top: 0
      left: -45px
      height: 90px
      width: 90px
      border: 5px solid #e1e1e1
      border-radius: 50%
      z-index: 5
      background-color: #e1e1e1
      .section-number
        font-family: "Segoeui-Bold"
        font-size: 35px
        top: 20px
        left: 30px
        position: relative
        display: inline-block
    .section-title
      font-family: "Segoeui-Bold"
      font-size: 32px
      margin-bottom: 30px
    .section-text
      font-size: 16px
      line-height: 34px
      margin: 20px auto
    #leader-container
      padding-top: 15px
      padding-bottom: 50px
      .leader-list
        margin-bottom: 30px
        .leader-name
          color: #0E6BA2
          font-size: 18px
          font-family: "Segoeui-Bold"
          margin-bottom: 5px
        .leader-position
          color: #4A4A4A
          font-size: 16px
          display: block
  //.image-section
  //  padding-bottom: 50px
  //  #image-container
  //    padding-left: 10%
  //    padding-right: 10%
  //    .image-list
  //      margin-bottom: 30px
  //      position: relative
  //      box-sizing: border-box
  //      border: 1px solid #ffffff
  //      background-color: white
  //      .image
  //        display: block
  //        max-width: 100%
  //        margin-left: auto
  //        margin-right: auto
  //        padding: 10px 10px 0 10px
  //      .user-info
  //        width: 100%
  //        height: 27%
  //        margin-left: auto
  //        margin-right: auto
  //        left: 0
  //        right: 0
  //        background-color: rgba(0,0,0,0.75)
  //        opacity: 0
  //        position: absolute
  //        bottom: 0
  //        transition: opacity 0.5s
  //        font-size: 16px
  //        line-height: 24px
  //        .info-container
  //          top: 50%
  //          transform: translateY(-50%)
  //          -webkit-transform: translateY(-50%)
  //          -moz-transform: translateY(-50%)
  //          -o-transform: translateY(-50%)
  //          -ms-transform: translateY(-50%)
  //          position: absolute
  //          left: 0
  //          right: 0
  //          .user-name
  //            display: block
  //            color: #4badea
  //            margin-bottom: 8px
  //            text-align: center
  //            left: 0
  //            right: 0
  //            margin-left: auto
  //            margin-right: auto
  //          .user-position
  //            display: block
  //            color: #ffffff
  //            text-align: center
  //            left: 0
  //            right: 0
  //            margin-left: auto
  //            margin-right: auto
  //      &:focus,&:active
  //        outline: none

@media (max-width: 1500px)
  #our-plant
    height: 800px!important
    .slide-container
      .slide
        min-height: 800px


@media (max-width: 1366px)
  #our-plant
    height: 768px!important
    .slide-container
      .slide
        min-height: 768px
        .slide-section
          .container
            .top-section
              .left-section
                .section-header
                  font-size: 38px
                  margin-bottom: 5px
                .section-operation
                  margin-top: 5px
              .right-section
                .section-content
                  margin-bottom: 20px
                  .section-number
                    font-size: 28px
                  .section-capacity
                    font-size: 14px
            .middle-section
              margin: 5px 0


.fp-controlArrow.fp-prev
  background-size: 60px
  height: 89px
  width: 32px !important

.fp-controlArrow.fp-next
  background-size: 60px
  height: 89px
  width: 32px !important
  background-position-x: -28px
  right: 30px !important



@media (max-width: $screen-md-max)
  #our-plant
    height: 700px!important
    .slide-container
      .fp-slides
        height: 700px
      .slide
        min-height: 100vh
        height: 700px
        .slide-section
          top: 0
          transform: none
          -webkit-transform: none
          -moz-transform: none
          -o-transform: none
          -ms-transform: none
          .container
            margin-top: 110px
            padding-left: 40px
            padding-right: 40px
            .top-section
              margin-bottom: 10px
              .left-section
                .section-header
                  font-size: 32px
              .right-section
                .section-content
                  margin-bottom: 10px
                  .section-number
                    margin-right: 5px
            .middle-section
              .left-section
                width: 60%
                .section-description
                  font-size: 14px
              .right-section
                width: 40%



@media (max-width: $screen-sm-max)
  #our-plant
    .slide-container
      .slide
        min-height: 720px
        .slide-section
          top: 50%
          transform: translateY(-50%)
          -webkit-transform: translateY(-50%)
          -moz-transform: translateY(-50%)
          -o-transform: translateY(-50%)
          -ms-transform: translateY(-50%)
          .container
            margin-top: 0
            .upper-section
              margin-top: 30px
              .section-header
                font-size: 38px
            .lower-section
              .section-header
                font-size: 28px
                margin-left: 0
                margin-right: 0
              .section-description
                margin-left: 0
                margin-right: 0
            .middle-section
              .left-section
                width: 100%
                .section-description
                  font-size: 16px
              .right-section
                display: none

  #new-project
    .content-section
      margin-top: 50px
      width: 100%
      padding-left: 15px
      padding-right: 15px
      &:before
        display: none

  #strategic-foundation
    .content-section
      margin-top: 50px
      width: 100%
      padding-left: 15px
      padding-right: 15px
      &:before
        display: none
      .section-list
        .values-container
          .values-list
            .image-section
              .values-image
                max-width: 250px
              .values-info
                width: 250px
                height: 250px

  #shareholder
    .content-section
      margin-top: 50px
      width: 100%
      padding-left: 15px
      padding-right: 15px
      &:before
        display: none
  #leadership
    .content-section
      margin-top: 50px
      width: 100%
      padding-left: 15px
      padding-right: 15px
      &:before
        display: none

  .fp-controlArrow.fp-prev
    display: none
  .fp-controlArrow.fp-next
    display: none

@media (max-width: $screen-xs-max)
  html.fp-enabled
    body
      margin-top: 71px

  #our-plant
    .slide-container
      .slide
        .slide-section
          top: 0
          transform: none
          -webkit-transform: none
          -moz-transform: none
          -o-transform: none
          -ms-transform: none
          .container
            padding-left: 30px
            padding-right: 30px
            .top-section
              margin-top: 30px
            .middle-section
              margin: 15px 0
              padding: 0
              .left-section
                .section-description
                  margin-left: 0
                  margin-right: 0

  .fp-controlArrow.fp-prev,
  .fp-controlArrow.fp-next
    display: none

  #leadership
    .image-section
      #image-container
        .image-list
          .user-info
            height: 35%
            .info-container
              .user-position
                padding-left: 5px
                padding-right: 5px

  #strategic-foundation
    .content-section
      .section-list
        #mission-container
          .mission-list
            background-position: 0px 9px


@media (max-width: 568px)
  #our-plant
    .slide-container
      .slide
        min-height: 1250px
        .slide-section
          .container
            .top-section
              .left-section
                width: 100%
              .right-section
                margin-top: 20px
                width: 100%

  #strategic-foundation
    .content-section
      .section-title
        font-size: 24px
      .section-list
        .values-container
          .values-list
            margin-bottom: 30px
            .image-section
              .values-image
                max-width: 100%
                width: 100%
                height: auto
              .values-info
                display: none
            .values-title
              margin-bottom: 10px
              font-family: "Segoeui-Bold"
              font-size: 16px
            .values-description
              display: block

  #shareholder
    .content-section
      .section-title
        font-size: 24px
  #leadership
    .content-section
      .section-title
        font-size: 24px
  #new-project
    .content-section
      .section-title
        font-size: 24px


