#careers
  position: relative
  background-color: #FBFBFB
  padding-bottom: 50px
  font-family: "Segoeui"
  .container-section
    .banner-section
      background-image: url("/img/banner/career-banner.jpg")
      background-size: cover
      background-position: center center
      height: 500px
      .banner
        display: block
        width: 100%
        height: auto
    .header-section
      margin-top: 30px
      .header
        text-align: center
        font-size: 24px
        padding-left: 10px
        margin: 0
        color: #636768
        border-radius: 0
        font-family: "Segoeui-Bold"
        text-transform: capitalize
        padding-top: 15px
        padding-bottom: 15px
    .career-section
      margin-top: 30px
      .career-list
        background-color: white
        padding: 30px 30px 0 30px
        color: #636768
        min-height: 350px
        margin-bottom: 50px
        .career-title
          font-family: "Segoeui-Bold"
          font-size: 16px
          margin-bottom: 20px
        ul
          margin-bottom: 10px
          li
            margin-bottom: 10px
            font-family: "Segoeui"
            .career-company
              display: inline-block
              text-transform: uppercase
            .career-location
              text-transform: uppercase
              display: inline-block
        .career-requirement
          font-family: "Segoeui"
          line-height: 25px
          display: block /* Fallback for non-webkit */
          display: -webkit-box
          max-width: 400px
          height: calc(14px*25px*3px) /* Fallback for non-webkit */
          margin: 0 auto
          -webkit-line-clamp: 3
          -webkit-box-orient: vertical
          overflow: hidden
          text-overflow: ellipsis
          .requirement-title
            font-family: "Segoeui"
            display: block
            text-decoration: none
        .career-modal
          text-decoration: none
          display: block
          margin-top: 15px
          font-size: 16px
          font-family: "Segoeui-Bold"
.modal-list
  .modal-dialog
    .modal-content
      .modal-body
        padding: 30px 60px
        .modal-career-title
          font-family: "Segoeui-Bold"
          font-size: 16px
          margin-bottom: 20px
        ul
          margin-bottom: 10px
          li
            margin-bottom: 10px
            font-family: "Segoeui"
            .modal-career-company
              display: inline-block
              text-transform: uppercase
            .modal-career-location
              display: inline-block
              text-transform: uppercase
        .modal-career-requirement
          font-family: "Segoeui"
          line-height: 25px




@media (max-width: $screen-md-max)
  #careers
    .container-section
      .career-section
        .career-list
          min-height: 500px

@media (max-width: $screen-xs-max)
  #careers
    .container-section
      .career-section
        .career-list
          min-height: 0

@media (max-width: 568px)
  #careers
    padding: 30px 0
    .container-section
      .header-section
        margin-bottom: 15px
      .career-section
        .career-list-container
          padding-left: 0
          padding-right: 0
          .career-list
            padding-left: 15px
            padding-right: 15px
            padding-bottom: 50px

