body
  margin-top: 0

#contact
  position: relative
  background-color: #FBFBFB
  padding: 60px 15px
  font-family: "Segoeui"
  min-height: 95vh
  .container-section
    max-width: 1600px
    margin-left: auto
    margin-right: auto
    .section-header
      position: relative
      margin-top: 60px
      margin-bottom: 60px
      .header-container
        padding-left: 30px
        padding-right: 30px
        &:before
          content: ""
          display: block
          width: 100%
          border-bottom: 1px solid #979797
          position: relative
          top: 17px
          z-index: 2
        .header
          font-size: 28px
          font-weight: bold
          font-family: "Segoeui-Bold"
          text-align: center
          background-color: #FBFBFB
          z-index: 5
          padding-right: 30px
          position: relative
          display: inline-block

    .left-section
      position: relative
      .form-content
        .form-item
          margin-top: 20px
          margin-bottom: 20px
          .content-input
            font-size: 14px
            background: none
            outline: none
            border-top: 1px solid transparent
            border-left: 1px solid transparent
            border-right: 1px solid transparent
            border-bottom: 1px solid #979797
            box-shadow: none
            transition: 300ms ease-in-out
            -webkit-transition: 300ms ease-in-out
            -ms-transition: 300ms ease-in-out
            -o-transition: 300ms ease-in-out
            -moz-transition: 300ms ease-in-out
            border-radius: 0
            &:focus
              border-left: 1px solid #979797
              border-top: 1px solid #979797
              border-right: 1px solid #979797
        .form-message
          margin-top: 40px
          margin-bottom: 40px
          .text-area
            font-size: 14px
            background: none
            outline: none
            box-shadow: none
            border: 1px solid #979797
            resize: none
        .content-button-container
          width: fit-content
          float: right
          #ss-submit
            background-color: #0E6BA2
            color: white
            font-family: "Segoeui"
            outline: none
            box-shadow: none
            display: inline-block
            text-decoration: none
            text-transform: uppercase
            font-size: 14px
            padding: 0 50px
            border-radius: 0
            border: none

    .right-section
      position: relative
      .location-list
        margin-top: 20px
        margin-bottom: 20px
        .title
          margin-bottom: 5px
          font-family: "Segoeui-Bold"
          font-size: 16px
          text-transform: uppercase

    .intro-bottom
      position: relative
      float: right
      margin: 20px auto
      display: inline-block
      .intro-link
        //border: 1px solid rgba(0,0,0,0.3)
        background-color: #0E6BA2
        text-transform: uppercase
        outline: none
        color: white
        display: block
        font-size: 14px
        font-family: "Segoeui"
        text-decoration: none
        padding: 18px 50px


#modal-message
  z-index: 1051
  .modal-dialog
    position: absolute
    top: 40%
    left: 0
    right: 0
    opacity: 0
    -webkit-transform: translateY(-40%)
    -ms-transform: translateY(-40%)
    -o-transform: translateY(-40%)
    transform: translateY(-40%)
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    transition: all 0.3s ease

  &.in .modal-dialog
    margin-top: 0
    margin-bottom: 0
    position: absolute
    top: 40%
    opacity: 1
    -webkit-transform: translateY(-40%)
    -ms-transform: translateY(-40%)
    -o-transform: translateY(-40%)
    transform: translateY(-40%)
  .modal-content
    border: none
    border-radius: 2px
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    padding: 8% 5%
    background-color: #0E6BA2
    .text-alert
      margin: 20px auto
      color: #ffffff
      text-align: center


@media (max-width: $screen-md-max)
  #contact
    .container-section
      .left-section
        padding-left: 15px
        padding-right: 15px
        .tab-content
          .content-list#message
            max-width: 100%

@media (max-width: 568px)
  #contact
    padding-top: 30px
    padding-left: 0
    padding-right: 0
    .container-section
      .left-section
        .nav-tabs
          .tabs-list
            .tabs-link
              padding-left: 15px
              padding-right: 15px