#cover
  position: relative
  background-image: url("/img/cover-bg.jpg")
  background-size: cover
  background-position: center center
  height: 50vh!important
  #canvas
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    display: flex
  .section-container
    position: absolute
    top: 0%
    left: 0
    right: 0
    bottom: 0%
    width: 100%
    height: 100%
    .intro-top
      position: relative
      top: 50%
      transform: translateY(-50%)
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      color: white
      text-align: center
      .intro-header
        font-size: 42px
        font-family: "Segoeui-Bold"
        letter-spacing: 2px
      .intro-text
        font-size: 24px
        font-family: "Segoeui-Bold"
        margin-top: 15px
        margin-bottom: 15px
        letter-spacing: 2px
    .intro-middle
      color: white
      text-align: center
      .intro-text
        font-size: 20px
        font-family: "Segoeui-Italic"
        max-width: 65%
        min-width: 65%
        margin-left: auto
        margin-right: auto
        line-height: 30px
    .intro-bottom
      display: table
      margin-left: auto
      margin-right: auto
      margin-top: 50px
      .intro-link
        outline: none
        color: white
        display: block
        font-size: 20px
        font-family: "Segoeui"
        background-color: #0E6BA2
        text-decoration: none
        padding: 20px 70px
        border-radius: 40px
#faq
  .container
    width: 970px
    #accordion
      padding-left: 15px
      padding-right: 15px
      .faq-item
        border: none
        margin: 30px 0
        border-radius: 0
        transition: all 100ms ease
        .faq-link
          outline: none
          background-color: #EAEAEA
          display: block
          color: #636768
          text-decoration: none
          padding: 15px 20px
          .faq-header
            font-family: "Segoeui"
            display: inline-block
            color: #636768
            max-width: 95%
          .faq-button
            display: inline-block
            float: right
            height: 14px
        .package-content
          background-color: #EAEAEA
        .panel-heading
          margin: 0
          padding-left: 0
          padding-right: 0
        .panel-body
          padding: 0 0 15px
          .faq-description
            color: #636768
            font-family: "Segoeui"
            font-size: 14px
            line-height: 25px
            padding: 15px 20px
        &.active-item
          .faq-link
            border-bottom: 1px solid #bbbbbb




