body
  margin-top: 0


nav
  &.navbar-default
    transition: all 300ms ease-in-out
    .container-fluid
      .navbar-header
        .navbar-brand
          .brand-logo
            transition: all 300ms ease-in-out
            filter: brightness(0) invert(1)
            -webkit-filter: brightness(0) invert(1)
            -moz-filter: brightness(0) invert(1)
            -o-filter: brightness(0) invert(1)
            -ms-filter: brightness(0) invert(1)

      .navbar-right
        .navbar-list-button
          .navbar-search
            .search-icon
              transition: all 300ms ease-in-out
              filter: brightness(0) invert(1)
              -webkit-filter: brightness(0) invert(1)
              -moz-filter: brightness(0) invert(1)
              -o-filter: brightness(0) invert(1)
              -ms-filter: brightness(0) invert(1)
        .navbar-list
          margin: 15px 0px
          overflow: hidden
          position: relative
          z-index: 5
          &:before, &:after
            content: ""
            display: block
            background: transparent
            top: 0
            left: 0
            right: 0
            bottom: 0
            position: absolute
            width: 100%
            height: 100%
            -webkit-transition: all 0.3s ease
            -o-transition: all 0.3s ease
            transition: all 0.3s ease
          &:before
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-top: 1px solid white
            border-bottom: 1px solid white
            left: -101%

          &:after
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-left: 1px solid white
            border-right: 1px solid white
            top: -101%

          &:hover
            &:before
              -webkit-transform: translate(101%, 0)
              -ms-transform: translate(101%, 0)
              -o-transform: translate(101%, 0)
              transform: translate(101%, 0)

            &:after
              -webkit-transform: translate(0, 101%)
              -ms-transform: translate(0, 101%)
              -o-transform: translate(0, 101%)
              transform: translate(0, 101%)

            &:after
              -webkit-transform: translate(0, 101%)
              -ms-transform: translate(0, 101%)
              -o-transform: translate(0, 101%)
              transform: translate(0, 101%)
          &.active-menu
            border: 1px solid #5f081a
            &:hover
              &:before
                -webkit-transform: none
                -ms-transform: none
                -o-transform: none
                transform: none

              &:after
                -webkit-transform: none
                -ms-transform: none
                -o-transform: none
                transform: none

          a
            color: white
            border-color: white
            &:hover
              color: white
              border-color: white


  &.navbar-shrink
    .container-fluid
      .navbar-header
        .navbar-brand
          .brand-logo
            filter: none !important
            -webkit-filter: none !important
            -moz-filter: none !important
            -o-filter: none !important
            -ms-filter: none !important
      .navbar-right
        .navbar-list-button
          .navbar-search
            .search-icon
              transition: all 300ms ease-in-out
              filter: none
              -webkit-filter: none
              -moz-filter: none
              -o-filter: none
              -ms-filter: none
        .navbar-list
          margin: 15px 0px
          overflow: hidden
          position: relative
          z-index: 5
          &:before, &:after
            content: ""
            display: block
            background: transparent
            top: 0
            left: 0
            right: 0
            bottom: 0
            position: absolute
            width: 100%
            height: 100%
            -webkit-transition: all 0.3s ease
            -o-transition: all 0.3s ease
            transition: all 0.3s ease
          &:before
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-top: 1px solid black
            border-bottom: 1px solid black
            left: -101%

          &:after
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-left: 1px solid black
            border-right: 1px solid black
            top: -101%

          &:hover
            &:before
              -webkit-transform: translate(101%, 0)
              -ms-transform: translate(101%, 0)
              -o-transform: translate(101%, 0)
              transform: translate(101%, 0)

            &:after
              -webkit-transform: translate(0, 101%)
              -ms-transform: translate(0, 101%)
              -o-transform: translate(0, 101%)
              transform: translate(0, 101%)

            &:after
              -webkit-transform: translate(0, 101%)
              -ms-transform: translate(0, 101%)
              -o-transform: translate(0, 101%)
              transform: translate(0, 101%)
          &.active-menu
            border: 1px solid #5f081a
            &:hover
              &:before
                -webkit-transform: none
                -ms-transform: none
                -o-transform: none
                transform: none

              &:after
                -webkit-transform: none
                -ms-transform: none
                -o-transform: none
                transform: none

          a
            color: black
            &:hover
              color: black

nav
  &.navbar-default
    background-color: transparent
  &.navbar-shrink
    background-color: white

#cover
  position: relative
  height: calc(100vh - 120px)
  #image-slider
    height: inherit
  .section-container
    position: absolute
    top: 0%
    left: 0
    right: 0
    bottom: 0%
    width: 100%
    height: 100%
    .section-content
      position: relative
      top: 50%
      transform: translateY(-50%)
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      .intro-top
        color: white
        text-align: center
        margin-bottom: 30px
        .intro-header
          font-size: 42px
          font-family: "Segoeui-Bold"
          letter-spacing: 2px
        .intro-text
          font-size: 24px
          font-family: "Segoeui-Bold"
          margin-top: 15px
          margin-bottom: 15px
          letter-spacing: 2px
      .intro-middle
        color: white
        text-align: center
        .intro-text
          font-size: 20px
          font-family: "Segoeui-Italic"
          max-width: 65%
          min-width: 65%
          margin-left: auto
          margin-right: auto
          line-height: 30px
      .intro-bottom
        display: table
        margin-left: auto
        margin-right: auto
        margin-top: 50px
        .intro-link
          outline: none
          color: white
          display: block
          font-size: 20px
          font-family: "Segoeui"
          background-color: #0E6BA2
          text-decoration: none
          padding: 20px 70px
          border-radius: 40px

#company
  position: relative
  background-color: #f5f5f5
  .container
    .section-content
      padding-top: 25px
      padding-bottom: 25px
      ul
        width: 100%
        display: table
        margin-left: auto
        margin-right: auto
        .company-list
          width: 33.33%
          display: inline-block
          vertical-align: middle
          .company-logo
            -webkit-filter: grayscale(100%)
            filter: grayscale(100%)
            opacity: 0.5
            transition: 300ms all ease-in-out
            &:hover
              opacity: 1
              -webkit-filter: none
              filter: none

#news
  position: relative
  padding-top: 30px
  padding-bottom: 60px
  .section-header
    margin: 30px 0
    .header
      color: #176294
  .left-section
    padding-left: 0
    .news-container
      background-color: #fbfbfb
      padding: 15px
      .list-divider
        margin-top: 0
      .news-list
        .news-link
          color: #4a4a4a
          display: block
          font-size: 18px
          text-decoration: none
          font-family: "Segoeui"
          text-transform: capitalize
          line-height: 25px
          &:hover
            color: #737373
            text-decoration: underline
        .news-date
          display: block
          font-size: 11px
          padding-top: 15px
          padding-bottom: 15px
          text-transform: uppercase
  .right-section
    padding-right: 0
    .carousel-container
      #carousel
        .carousel-inner
          .item
            .image-section
              .image
                max-width: 100%
                width: 100%
                object-fit: cover
                object-position: 50% 50%
                height: 40vh
            .description-section
              background-color: #FBFBFB
              min-height: 270px
              padding: 30px
              .title-link
                display: block
                &:hover
                  color: #737373
                  text-decoration: underline
                .title-section
                  font-size: 24px
                  font-family: "Segoeui-Bold"
                  color: #737373
                  font-weight: 400
              p
                font-family: "Segoeui"
                margin-top: 15px
                margin-bottom: 15px
                line-height: 30px
                font-size: 14px
                overflow: hidden
                display: -webkit-box
                -webkit-line-clamp: 3
                -webkit-box-orient: vertical
              .date-section
                display: block
                margin-top: 30px
        .carousel-control
          &.left
            width: 1%
            height: 5%
            background-image: none
            position: absolute
            left: initial
            top: 0
            right: 40px
            color: black
            font-size: 38px
          &.right
            width: 1%
            height: 5%
            background-image: none
            position: absolute
            left: initial
            top: 0
            right: 15px
            color: black
            font-size: 38px
#other-site
  position: relative
  background-image: url('/img/home/bottom-image.jpg')
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  .section-container
    .section-content
      color: white
      padding-top: 150px
      padding-bottom: 150px
      .site-top
        .section-header
          font-size: 34px
          font-family: "Segoeui-Bold"
          letter-spacing: 2px
      .site-middle
        margin: 40px 0 30px
        .section-text
          font-size: 16px
          font-family: "Segoeui-Italic"
          line-height: 30px
          margin-top: 15px
          margin-bottom: 15px
          max-width: 45%
          min-width: 45%
      .site-bottom
        .intro-link
          color: white
          font-size: 18px
          text-decoration: none
          font-family: "Segoeui-Bold"
          text-transform: uppercase

//carousel
.carousel-fade
  .carousel-inner
    .item
      -webkit-transition-property: opacity
      transition-property: opacity
      opacity: 0
    .active
      &.left, &.right
        opacity: 0
      opacity: 1
    .next.left, .prev.right
      opacity: 1
    .next, .prev
      left: 0
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)
    .active
      &.left, &.right

        -webkit-transform: translate3d(0, 0, 0)
        transform: translate3d(0, 0, 0)
  .carousel-control
    z-index: 2

@media (max-width: 1440px)
  #news
    .right-section
      .carousel-container
        #carousel
          .carousel-inner
            .item
              .image-section
                .image
                  height: 50vh


@media (max-width: $screen-sm-max)
  #news
    .section-header
      .header
        text-align: center
    .left-section
      padding-left: 15px
    .right-section
      padding-right: 15px
    .divider
      margin-top: 0
      margin-bottom: 0
      margin-left: 15px
      margin-right: 15px

@media (max-width: $screen-xs-max)
  #cover
    .section-container
      .section-content
        .intro-top
          .intro-header
            font-size: 34px
        .intro-middle
          .intro-text
            font-size: 18px
            max-width: 80%

  #other-site
    .section-container
      .section-content
        .site-middle
          .section-text
            max-width: 100%

@media (max-width: 568px)
  #cover
    height: auto
    .section-container
      .section-content
        padding: 150px 0
        top: 0
        transform: none
        -webkit-transform: none
        -moz-transform: none
        -o-transform: none
        -ms-transform: none
        .intro-top
          .intro-header
            font-size: 32px
        .intro-bottom
          .intro-link
            font-size: 18px
            padding: 20px 50px

  #company
    .container
      .section-content
        padding: 0
        ul
          .company-list
            display: block
            width: 100%
            margin: 50px auto

  #news
    .left-section
      padding: 0
      .news-container
        .news-list
          .news-link
            font-size: 16px
    .right-section
      padding: 0


  #other-site
    .section-container
      .section-content
        .site-top
          .section-header
            font-size: 32px





