*,
*:before,
*:after
  box-sizing: border-box

body
  margin-top: 0

nav
  &.navbar-default
    padding-top: 22px
    transition: all 100ms ease-in-out
    .container-fluid
      transition: all 300ms ease-in-out
      .navbar-header
        .navbar-brand
          .brand-logo
            filter: brightness(0) invert(1)
            -webkit-filter: brightness(0) invert(1)
            -moz-filter: brightness(0) invert(1)
            -o-filter: brightness(0) invert(1)
            -ms-filter: brightness(0) invert(1)
      .navbar-right
        .navbar-list
          overflow: hidden
          &:before, &:after
            content: ""
            display: block
            background: transparent
            top: 0
            left: 0
            right: 0
            bottom: 0
            position: absolute
            width: 100%
            height: 100%
            -webkit-transition: all 0.3s ease
            -o-transition: all 0.3s ease
            transition: all 0.3s ease
          &:before
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-top: 1px solid white
            border-bottom: 1px solid white
            left: -101%

          &:after
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-left: 1px solid white
            border-right: 1px solid white
            top: -101%

          &:hover
            &:before
              -webkit-transform: translate(101%, 0)
              -ms-transform: translate(101%, 0)
              -o-transform: translate(101%, 0)
              transform: translate(101%, 0)

            &:after
              -webkit-transform: translate(0, 101%)
              -ms-transform: translate(0, 101%)
              -o-transform: translate(0, 101%)
              transform: translate(0, 101%)

            &:after
              -webkit-transform: translate(0, 101%)
              -ms-transform: translate(0, 101%)
              -o-transform: translate(0, 101%)
              transform: translate(0, 101%)
          &.active-menu
            border: 1px solid #585858
            &:hover
              &:before
                -webkit-transform: none
                -ms-transform: none
                -o-transform: none
                transform: none
              &:after
                -webkit-transform: none
                -ms-transform: none
                -o-transform: none
                transform: none
          a
            color: white
            border-color: white
            &:hover
              color: white
              border-color: white

  &.navbar-shrink
    padding-top: 0
    .container-fluid
      .navbar-header
        .navbar-brand
          .brand-logo
            filter: none
            -webkit-filter: none
            -moz-filter: none
            -o-filter: none
            -ms-filter: none
      .navbar-right
        .navbar-list
          &:before, &:after
            content: ""
            display: block
            background: transparent
            top: 0
            left: 0
            right: 0
            bottom: 0
            position: absolute
            width: 100%
            height: 100%
            -webkit-transition: all 0.3s ease
            -o-transition: all 0.3s ease
            transition: all 0.3s ease
          &:before
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-top: 1px solid black
            border-bottom: 1px solid black
            left: -101%

          &:after
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-left: 1px solid black
            border-right: 1px solid black
            top: -101%

          &:hover
            &:before
              -webkit-transform: translate(101%, 0)
              -ms-transform: translate(101%, 0)
              -o-transform: translate(101%, 0)
              transform: translate(101%, 0)

            &:after
              -webkit-transform: translate(0, 101%)
              -ms-transform: translate(0, 101%)
              -o-transform: translate(0, 101%)
              transform: translate(0, 101%)

            &:after
              -webkit-transform: translate(0, 101%)
              -ms-transform: translate(0, 101%)
              -o-transform: translate(0, 101%)
              transform: translate(0, 101%)
          &.active-menu
            border: 1px solid #0E6BA2
            &:hover
              &:before
                -webkit-transform: none
                -ms-transform: none
                -o-transform: none
                transform: none
              &:after
                -webkit-transform: none
                -ms-transform: none
                -o-transform: none
                transform: none
          a
            color: black
            &:hover
              color: black

nav
  &.navbar-default
    background-color: transparent
  &.navbar-shrink
    background-color: white




#cover
  position: relative
  width: 100%
  height: 100%
  #video-overlay
    width: 100%
    height: 100%
    position: absolute
    background-color: rgba(12, 40, 65, 0.6)
    z-index: 3
  #video-header
    z-index: 1
    position: relative
    overflow: hidden
    height: 100vh
    max-height: 100vh
    text-align: center
    #inner-video-container
      position: absolute
      height: 100%
      width: 200%
      left: -50%
      #video-sample
        margin: auto
        height: 120%
        min-width: 50%
  #canvas
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    display: flex
    z-index: 2
  .intro-container
    position: absolute
    top: 0%
    left: 0
    right: 0
    bottom: 0%
    width: 100%
    height: 100%
    z-index: 4
    .section-content
      position: relative
      top: 50%
      transform: translateY(-50%)
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      .intro-middle
        color: white
        display: table
        margin-left: auto
        margin-right: auto
        .intro-text
          font-size: 68px
          display: block
          font-family: "Cambria"
          line-height: 60px
      .intro-bottom
        display: table
        margin-left: auto
        margin-right: auto
        margin-top: 50px
        overflow: hidden
        position: relative
        .intro-link
          border: 1px solid rgba(255,255,255,0.3)
          text-transform: uppercase
          outline: none
          color: #ffffff
          display: block
          font-size: 16px
          font-family: "Segoeui"
          text-decoration: none
          padding: 20px 50px
          margin: -14px 0px
          &:before, &:after
            content: ""
            display: block
            background: transparent
            top: 0
            left: 0
            right: 0
            bottom: 0
            position: absolute
            width: 100%
            height: 100%
            -webkit-transition: all 0.3s ease
            -o-transition: all 0.3s ease
            transition: all 0.3s ease
          &:before
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-top: 1px solid #ffffff
            border-bottom: 1px solid #ffffff
            left: -101%

          &:after
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-left: 1px solid #ffffff
            border-right: 1px solid #ffffff
            top: -101%

          &:hover
            &:before
              -webkit-transform: translate(101%, 0)
              -ms-transform: translate(101%, 0)
              -o-transform: translate(101%, 0)
              transform: translate(101%, 0)

            &:after
              -webkit-transform: translate(0, 101%)
              -ms-transform: translate(0, 101%)
              -o-transform: translate(0, 101%)
              transform: translate(0, 101%)

            &:after
              -webkit-transform: translate(0, 101%)
              -ms-transform: translate(0, 101%)
              -o-transform: translate(0, 101%)
              transform: translate(0, 101%)


#news
  position: relative
  background-color: #f5f5f5
  padding-top: 100px
  padding-bottom: 100px
  .section-header
    font-family: "Segoeui-Bold"
    font-size: 32px
    text-align: left
    margin-top: 30px
    margin-bottom: 30px

  .pinBoot
    position: relative
    max-width: 100%
    width: 100%
    .white-panel
      position: absolute
      //box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3)
      padding: 10px
      outline: none
      text-decoration: none
      .news-image
        width: 100%
        max-width: 100%
        height: auto
        display: block
        border-radius: 10px
      .news-title
        max-width: 180px
        font-family: "Segoeui-Bold"
        display: block
        color: #585858
        font-size: 16px
        margin-top: 15px
        margin-bottom: 15px
      p
        max-width: 180px
        display: block
        color: #585858
        font-size: 14px
        line-height: 25px
        margin-bottom: 15px
      &:hover
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5)
        margin-top: -5px
        -webkit-transition: all 0.3s ease-in-out
        -moz-transition: all 0.3s ease-in-out
        -o-transition: all 0.3s ease-in-out
        transition: all 0.3s ease-in-out


#other-site
  position: relative
  background-image: url('/img/banner/snapres-banner.jpg')
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  .section-container
    .section-content
      color: white
      padding-top: 150px
      padding-bottom: 150px
      .site-top
        .section-header
          font-size: 34px
          font-family: "Segoeui-Bold"
          letter-spacing: 2px
      .site-middle
        margin: 40px 0 30px
        .section-text
          font-size: 16px
          font-family: "Segoeui-Italic"
          line-height: 30px
          margin-top: 15px
          margin-bottom: 15px
          max-width: 45%
          min-width: 45%
      .site-bottom
        .intro-link
          color: white
          font-size: 18px
          text-decoration: none
          font-family: "Segoeui-Bold"
          text-transform: uppercase

//carousel
.carousel-fade
  .carousel-inner
    .item
      -webkit-transition-property: opacity
      transition-property: opacity
      opacity: 0
    .active
      &.left, &.right
        opacity: 0
      opacity: 1
    .next.left, .prev.right
      opacity: 1
    .next, .prev
      left: 0
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)
    .active
      &.left, &.right

        -webkit-transform: translate3d(0, 0, 0)
        transform: translate3d(0, 0, 0)
  .carousel-control
    z-index: 2

@media (min-width: 1441px)
  #cover
    .section-container
      .section-content
        .intro-middle
          .intro-text
            max-width: 35%
            min-width: 35%

@media (max-width: 1440px)
  #news
    .right-section
      .carousel-container
        #carousel
          .carousel-inner
            .item
              .image-section
                .image
                  height: 50vh

@media (max-width: $screen-md-max)
  nav
    &.navbar-default
      padding-top: 0
      .container-fluid
        .navbar-header
          .navbar-brand
            .brand-logo
              filter: none
              -webkit-filter: none
              -moz-filter: none
              -o-filter: none
              -ms-filter: none
