#news
  background-color: #FBFBFB
  position: relative
  .left-section
    background-color: white
    padding: 0 7%
    margin-top: 50px
    margin-bottom: 50px
    .header-section
      .header
        line-height: 25px
        font-size: 24px
        color: #4A4A4A
        padding-top: 15px
        padding-bottom: 10px
        font-family: "Segoeui-Bold"
        text-transform: uppercase
    .image-section
      margin: 30px 0
      .image
        display: block
        margin-left: auto
        margin-right: auto
    .content-section
      margin-bottom: 50px
      p
        color: #636768
        font-size: 14px
        line-height: 25px
        font-family: "Segoeui"
        margin-bottom: 15px
      .contact-details
        display: block
        color: #636768
        font-size: 14px
        line-height: 25px
        font-family: "Segoeui"
        margin-bottom: 15px
  .right-section
    margin-top: 50px

@media (max-width: $screen-md-max)
  #news
    .left-section
      padding-left: 15px
      padding-right: 15px
      .image-section
        .image
          max-width: 100%

@media (max-width: $screen-sm-max)
  #news
    .left-section
      padding-left: 30px
      padding-right: 30px
    .right-section
      margin-top: 0
      padding-left: 0
      padding-right: 0

@media (max-width: 568px)
  #news
    .left-section
      margin-top: 30px
      padding-left: 15px
      padding-right: 15px
      .header-section
        .header
          font-size: 18px


