#news
  position: relative
  background-color: white
  padding-top: 100px
  padding-bottom: 100px
  .section-header
    font-family: "Segoeui-Bold"
    font-size: 32px
    text-align: left
    margin-top: 30px
    margin-bottom: 30px
  .content-container
    max-width: 1600px
    margin-left: auto
    margin-right: auto
    padding-left: 80px
    padding-right: 80px
    .grid
      position: relative
      margin: 0 auto
      .grid-item
        float: left
        display: block
        width: 23%
        border: 1px solid #e8e8e8
        outline: none
        padding: 10px
        margin: 1%
        transition: all 1s ease-out
        &:hover
          border: 1px solid #585858
      .grid-sizer
        width: 23%
        margin: 1%
      .news-link
        text-decoration: none
        display: block
        outline: none
        .news-image
          width: 100%
          max-width: 100%
          height: auto
          display: block
        //border-radius: 10px
        .news-title
          font-family: "Cambria"
          display: block
          color: #4a4a4a
          font-size: 16px
          margin-top: 0
          margin-bottom: 15px
          font-weight: bold
          line-height: 20px
        .news-date
          top: -18px
          display: table
          margin-left: auto
          margin-right: auto
          position: relative
          .date
            text-decoration: none
            outline: none
            color: #585858
            font-size: 12px
            text-align: center
            display: inline-block
            background-color: white
            padding-left: 10px
            padding-right: 10px
        p
          display: block
          color: #585858
          font-size: 12px
          line-height: 18px
          margin-bottom: 15px