---
layout: default
css: about-us.css
title: about
javascript: >
    <script type="text/javascript" src="/js/bootstrap-tabcollapse.js"></script>
    <script type="text/javascript">
        $('#myTab').tabCollapse({
            tabsClass: 'hidden-sm',
            accordionClass: 'visible-sm visible-xs'
        });

        var tabLink = $("#about-us .container-section .left-section .panel-group .panel .panel-heading .panel-title .tabs-link");
        tabLink.on("click", function () {
           tabLink.find("active").removeClass("active");
           $(this).addClass("active");
        });

    </script>
---


{{ content }}