---
layout: default
css: contact.css
title: contact
javascript: >
    <script type="text/javascript">
        $("#form-content").on("submit",function(){
            $("#ss-submit").attr("disabled", true);
            setTimeout(function(){
                $("#ss-submit").attr("disabled", false);
            }, 1000);
            $("#hidden_iframe").on('load',function () {
                $("#modal-message").modal('show');
                $("#form-content")[0].reset();
                setTimeout(function(){
                    $("#modal-message").modal('hide');
                }, 2000);
            });
        });

    </script>

---


{{ content }}