---
layout: default
css: csr-sustainability.css
title: csr-sustainability
javascript: >
    <script type="text/javascript" src="/js/scrollreveal.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fullpage').fullpage({
                lockAnchors:true,
                hybrid:true,
                menu: '#menu',
                navigation: true,
                navigationPosition: 'right',
                anchors: ['section-1','section-2', 'section-3'],
                navigationTooltips: ['CSR & Sustainability','CSR', 'Sustainability'],
                showActiveTooltip: false,
                fitToSection:false,
                autoScrolling:false,
                recordHistory:false
            });
        });
    </script>

---


{{ content }}