---
layout: default
css: newsroom.css
title: News
javascript: >
    <script type="text/javascript" src="/js/scrollreveal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fullpage').fullpage({
                lockAnchors: true,
                hybrid: true,
                menu: '#menu',
                navigation: false,
                navigationPosition: 'right',
                fitToSection: false,
                autoScrolling: false,
                recordHistory: false
            });
        });

        $(window).on("load",function () {
            $('.grid').isotope({
                resizable: true,
                itemSelector: '.grid-item',
                percentPosition: true,
                masonry: {
                    columnWidth: '.grid-sizer'
                }
            });
        });

    </script>

---


{{ content }}