---
layout: default
css: newsroom.css
title: News
javascript: >
    <script type="text/javascript" src="/js/scrollreveal.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.js"></script>
    <script type="text/javascript" src="https://afarkas.github.io/lazysizes/lazysizes.min.js"></script>
    <script type="text/javascript" src="/js/handlebars.js"></script>
    <script type="text/javascript">

        // On document ready, initialise our code.
            $(function(){
                var $filterSelect = $('#filter-btn');
                var $container = $('#Container');
                // Instantiate MixItUp
                $container.mixItUp({
                    load:{
                        filter: '.2017',
                    }
                });

                $filterSelect.on('change', function(){
                    $container.mixItUp('filter', this.value);
                });


            });

    </script>

---


{{ content }}