---
layout: default
css: our-business.css
title: about
javascript: >
    <script type="text/javascript" src="/js/bootstrap-tabcollapse.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //nav tabs
            var faqLink = $(".faq-link");
            var buttonImage = $('.faq-button');
            faqLink.on('click', function () {
                faqLink.not(this).parent().removeClass('active-item');
                buttonImage.not(this).attr('src', '/img/icon-button/arrow_down.png');
                $(this).parent().toggleClass('active-item');
                if ($(this).parent().hasClass('active-item')) {
                    $(this).find(buttonImage).attr('src', '/img/icon-button/close.png');
                }
                else {
                    $(this).find(buttonImage).attr('src', '/img/icon-button/arrow_down.png');
                }
            });

            //nav-tabs
            var tabsLink = $("#our-business .container-section>.nav-tabs .tabs-list .tabs-link");
            var tabContainer = $("#our-business .container-section .nav-tabs");
            tabsLink.on("click", function () {
                tabContainer.css("border-bottom", "2px solid #b5b5b5")
            });

            $(".tabs-link:first").on("click",function () {
                tabContainer.css("border-bottom", "0")
            });


            $('#myTab').tabCollapse({
                tabsClass: 'hidden-sm hidden-xs',
                accordionClass: 'visible-sm visible-xs'
            });

        });



    </script>

---


{{ content }}