---
layout: page-layout/about-us
permalink: about-us/
---

<div id="fullpage">
    <div class="section fp-normal-scroll fp-auto-height fp-auto-height-responsive" id="our-plant">
        <div class="container">
            {% include about-us/our-plant.html %}
        </div>
    </div>

    <div class="section fp-normal-scroll fp-auto-height fp-auto-height-responsive" id="snap-group">
        <div class="container">
            {% include about-us/snap-group.html %}
        </div>
    </div>

    <div class="section fp-normal-scroll fp-auto-height fp-auto-height-responsive" id="strategic-foundation">
        <div class="container">
            {% include about-us/strategic-foundation.html %}
        </div>
    </div>

    <div class="section fp-normal-scroll fp-auto-height fp-auto-height-responsive" id="shareholder">
        <div class="container">
            {% include about-us/shareholder.html %}
        </div>
    </div>

    <div class="section fp-normal-scroll fp-auto-height fp-auto-height-responsive" id="leadership">
        <div class="container">
            {% include about-us/leadership.html %}
        </div>
    </div>
</div>

