---
layout: page-layout/csr-sustainability
permalink: csr-sustainability/
---
<div id="fullpage">

    <div class="section fp-normal-scroll fp-auto-height fp-auto-height-responsive" id="csr">
        <div class="container">
            {% include csr-sustainability/csr.html %}
        </div>
    </div>
    <div class="section fp-normal-scroll fp-auto-height fp-auto-height-responsive" id="sustainability">
        <div class="container">
            {% include csr-sustainability/sustainability.html %}
        </div>
    </div>
</div>