---
layout: page-layout/our-service
permalink: our-service/
---
<div id="fullpage">
    <div class="section fp-normal-scroll fp-auto-height fp-auto-height-responsive" id="power-generation">
        <div class="container">
            <div class="content-section">
                <p class="content-text">SNAP produce and sell power as well as provide energy solutions through a variety of innovative packages. </p>
            </div>
        </div>
        <div class="container">
            {% include our-service/power-generation.html %}
        </div>
    </div>
    <div class="section fp-normal-scroll fp-auto-height fp-auto-height-responsive" id="wholesale-service">
        <div class="container">
            {% include our-service/wholesale.html %}
        </div>
    </div>
    <div class="section fp-normal-scroll fp-auto-height fp-auto-height-responsive" id="retail-service">
        <div class="container">
            {% include our-service/retail.html %}
        </div>
    </div>
    <div class="section fp-normal-scroll fp-auto-height fp-auto-height-responsive" id="ancillary-service">
        <div class="container">
            {% include our-service/ancillary.html %}
        </div>
    </div>
</div>