<div class="content-section left-section col-lg-8 col-md-8">
    <p class="content-text">SN Aboitiz Power-Benguet, Inc. is a joint venture between SN Power and AboitizPower. It owns
        and operates the 105-MW Ambuklao Hydroelectric Power Plant in Brgy. Ambuklao, Bokod in Benguet.</p>
    <p class="content-text">Ambuklao is one of the oldest power plants in the country and was among the first large
        hydroelectric power plants constructed in the Philippines. Running along the upper portion of the Agno River,
        Ambuklao was constructed for power generation and flood control.</p>
    <p class="content-text">On November 28, 2007, SNAP-Benguet won the public bid for Ambuklao hydro and its neighboring
        power facility Binga, which were sold as a package under the power sector privatization program of the
        Philippine government. It took over operations on July 10, 2008. Only the power components were privatized while
        the dams remain government-owned.</p>
    <p class="content-text">Ambuklao was decommissioned in 1999 due to siltation and technical problems resulting from a
        strong earthquake that hit Luzon in 1990. SNAP-Benguet undertook a massive rehabilitation project from 2008 to
        2011, leading to the re-operation of the plant and the upgrading of its capacity from 75 MW to 105 MW.</p>
    <p class="content-text">It is designed as a peaking plant and is capable of delivering energy and providing
        ancillary services needed to stabilize the grid.</p>
    <p class="content-text">Ambuklao’s health and safety system is certified under international standards and it has
        also been cited for its community programs.</p>
</div>

