<div class="container section-container">
    <div class="section-header">
        <h2 class="header">What is RES?</h2>
    </div>
    <div class="section-content-1">
        <div class="col-md-6 left-section no-gutter">
            <div class="image-container">
                <img class="center-block image" src="img/building.png"/>
            </div>
        </div>
        <div class="col-md-6 right-section no-gutter">
            <div class="content-container">
                <p class="section-description">SN Aboitiz Power-RES, Inc. (SNAP-RES) is the retail electricity supplier
                    (RES) company of SN Aboitiz Power Group that caters to the contestable customer sectors across all
                    industries. Its vision is to become the leading retail electricity supplier in the country through
                    profitable growth, excellence in business processes, and innovative solutions. It also aims to
                    supply the energy requirements of the country in a fair and equitable manner to all our customers by
                    developing and nurturing relationships with them and other industry stakeholders and contribute to
                    the development of the power industry in the Philippines through implementing global best practices
                    and responsible corporate governance. SNAP-RES has the synergy derived from the experience and
                    expertise of strong local power industry player AboitizPower, and international renewable energy
                    company SN Power.</p>
            </div>
        </div>
    </div>

    <div class="section-content-2">
        <div class="col-md-6 left-section no-gutter">
            <div class="content-container no-gutter hidden-lg hidden-md visible-sm visible-xs">
                <div class="image-container">
                    <img class="center-block image" src="img/chart.png"/>
                </div>
            </div>
            <div class="content-container">
                <h4 class="section-title">Average Rates: 4.20 to 5.55 PhP/kWh</h4>
                <p class="section-text">*Please note that actual rate may be lower or higher depending on customer’s
                    load factor, contract length, contract volume/capacity, customer credit worthiness, and other
                    negotiated contract terms.
                </p>
            </div>
            <div class="content-container">
                <h4 class="section-title">Other Terms and Offers</h4>
                <ul class="list-container">
                    <li class="list-item">
                        <span class="item">Flexible Contract Duration</span>
                    </li>
                    <li class="list-item">
                        <span class="item">Customer Specific Pricing and Energy Volume</span>
                    </li>
                    <li class="list-item">
                        <span class="item">Guaranteed Power Supply</span>
                    </li>
                </ul>
            </div>
            <div class="content-container">
                <h4 class="section-title">Our Value Added Services</h4>
                <ul class="list-container">
                    <li class="list-item">
                        <span class="item">Price and Demand Forecasting</span>
                    </li>
                    <li class="list-item">
                        <span class="item">Risk Management</span>
                    </li>
                    <li class="list-item">
                        <span class="item">Trainings and Programs on WESM and <br>other industry matters</span>
                    </li>
                </ul>
            </div>
            <div class="content-container">
                <h4 class="section-title">For inquiries, you may contact the ff:</h4>
                <ul class="list-container">
                    <li class="list-item">
                        <span class="item">Jupiter Nuñez or Dominique Ramos</span>
                    </li>
                    <li class="list-item">
                        <span class="item">marketing@snaboitiz.com</span>
                    </li>
                    <li class="list-item">
                        <span class="item">Tel No: (02) 818– 9101</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 right-section no-gutter visible-lg visible-md hidden-sm hidden-xs">
            <div class="image-container">
                <img class="center-block image" src="img/chart.png"/>
            </div>
        </div>
    </div>
</div>