<div class="section" id="cover" data-anchor="section-1">
    <div id="video-overlay"></div>

    <header id="video-header">
        <div id="inner-video-container">
            <video id="video-sample" loop="true" poster="https://res.cloudinary.com/snapcloud/image/upload/banner/cover-poster.jpg" data-autoplay>
                <source src="https://s3.amazonaws.com/snap-media/cover-video.webm"/>
            </video>
        </div>
    </header>

    <div class="intro-container"> 
        <div class="section-content container"> 
            <div class="intro-middle"> 
                <span class="intro-text">Powering <b>positive</b> change</span>
                <!--<span class="intro-text">Making real the </span> -->
                <!--<span class="intro-text">to make a difference.</span> -->
            </div>
            <div class="intro-bottom">  <a href="/about-us/" class="intro-link">Learn more</a> </div>
        </div>
    </div>
</div>

