<div class="container section-container">
    <div class="section-content">
        <div class="intro-top">
            <h2 class="intro-header">SN ABOITIZ POWER-RS, INC.</h2>
            <p class="intro-text">caters to the contestable customer sectors across all industries.</p>
        </div>
        <div class="intro-middle">
            <p class="intro-text">It aims to supply the energy requirements of the country through implementing global best practice and
                responsible corporate governance.</p>
        </div>
        <div class="intro-bottom">
            <a href="#about" class="intro-link">Learn more</a>
        </div>
    </div>
</div>