<div class="section fp-normal-scroll fp-auto-height" id="csr">
    <div class="grid2">
        <div class="grid-item2 csr-1">
            <img src="/img/csr/csr1.jpg" class="csr-image"/>
        </div>
        <div class="grid-item2 csr-2">
            <img src="/img/csr/csr3.jpg" class="csr-image"/>
        </div>
        <div class="grid-item2 csr-3">
            <img src="/img/csr/csr2.jpg" class="csr-image"/>
        </div>
        <div class="grid-item2 csr-4">
            <img src="/img/csr/csr4.jpg" class="csr-image"/>
        </div>
        <div class="grid-item2 csr-5">
            <img src="/img/csr/csr5.jpg" class="csr-image"/>
        </div>
    </div>
</div>