<div class="section fp-normal-scroll fp-auto-height" id="csr">
    <div class="bg-overlay"></div>
    <div class="header-section">
        <h2 class="header">In SNAP, CSR is a journey, a philosophy, and an approach that affirms our commitment to positive change in our communities.</h2>
    </div>
    <div class="grid2">
        <div class="grid-item2 csr-1 hidden-sm hidden-xs">
            <img src="https://res.cloudinary.com/snapcloud/image/upload/csr/csr1.jpg" class="csr-image"/>
        </div>
        <div class="grid-item2 csr-2">
            <img src="https://res.cloudinary.com/snapcloud/image/upload/csr/csr3.jpg" class="csr-image"/>
        </div>
        <div class="grid-item2 csr-3 hidden-sm hidden-xs">
            <img src="https://res.cloudinary.com/snapcloud/image/upload/csr/csr2.jpg" class="csr-image"/>
        </div>
        <div class="grid-item2 csr-4 hidden-sm hidden-xs">
            <img src="https://res.cloudinary.com/snapcloud/image/upload/csr/csr4.jpg" class="csr-image"/>
        </div>
        <div class="grid-item2 csr-5 hidden-sm hidden-xs">
            <img src="https://res.cloudinary.com/snapcloud/image/upload/csr/csr5.jpg" class="csr-image"/>
        </div>
    </div>
</div>