<div class="section fp-normal-scroll fp-auto-height" id="csr">
    <div class="container-fluid no-gutter csr-container">
        <div class="csr-list col-md-7 no-gutter">
            <a href="#" class="csr-link csr-1">
                <img src="/img/csr/csr1.jpg" class="csr-image"/>
            </a>
        </div>
        <div class="csr-list col-md-5 no-gutter">
            <a href="#" class="csr-link csr-2">
                <img src="/img/csr/csr2.jpg" class="csr-image"/>
            </a>
        </div>
        <div class="csr-list col-md-4 no-gutter">
            <a href="#" class="csr-link csr-3">
                <img src="/img/csr/csr3.jpg" class="csr-image"/>
            </a>
        </div>
        <div class="csr-list col-md-4 no-gutter">
            <a href="#" class="csr-link csr-4">
                <img src="/img/csr/csr4.jpg" class="csr-image"/>
            </a>
        </div>
        <div class="csr-list col-md-4 no-gutter">
            <a href="#" class="csr-link csr-5">
                <img src="/img/csr/csr5.jpg" class="csr-image"/>
            </a>
        </div>
    </div>
</div>