<div class="section fp-normal-scroll fp-auto-height" id="news" data-anchor="section-3">
    <div class="container">
        <div class="row">
            <header>
                <h2 class="section-header">News</h2>
            </header>
            <section class="pinBoot">
                {% assign counter = 0 %}
                {% assign sortedPost = site.posts | sort: 'slugID' %}
                {% for news in sortedPost reversed limit: 8 offset: 4 %}
                {% assign counter = counter | plus:1 %}
                <a data-slug="{{ news.slugID }}" href="{{ news.url }}" target="_blank" class="white-panel news-link">
                    <img class="news-image img-responsive center-block" src="{{ news.cover }}" alt="{{ news.title }}">
                    <h4 class="news-title">{{ news.title }} </h4>
                    <p>{{ news.content | truncatewords: 15 }}</p>
                </a>
                {% endfor %}
            </section>
        </div>
    </div>
</div>