<div class="container">
    <div class="section-header">
        <h2 class="header">Latest News</h2>
    </div>
    <div class="col-lg-3 left-section">
        <ul class="news-container">
            {% for news in site.posts %}
            <li class="news-list">
                <a class="news-link" href="#">{{ news.title }}</a>
                <span class="news-date">Posted on {{ news.date | date: '%B %d, %Y' }}</span>
            </li>
            <hr class="list-divider"/>
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-9 right-section"></div>
</div>