<div class="section fp-normal-scroll fp-auto-height" id="news" data-anchor="section-3">
    <div class="section-header">
        <div class="header-container">
            <h4 class="header">Feature</h4>
        </div>
    </div>
    <div class="container-fluid content-container">
        <div class="feature-section clearfix">
            {% assign sortedPost = site.posts | sort: 'slugID' %}
            {% for feature in sortedPost limit: 3 %}
            {% assign counter = counter | plus:1 %}
            <div class="feature-list col-md-4 ">
                <div class="image-container">
                    <img class="image center-block" src="{{ feature.cover }}"/>
                </div>
                <div class="feature-content">
                    <div class="feature-date">
                        <span class="date">{{ feature.date | date: '%B %d, %Y' }}</span>
                    </div>
                    <h4 class="feature-title">{{ feature.title }} </h4>
                    <p>{{ feature.content | truncatewords: 15 }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="section-header">
        <div class="header-container">
            <h4 class="header">News</h4>
        </div>
    </div>
    <div class="container-fluid content-container">
        <div class="grid">
            <div class="grid-sizer"></div>
            {% assign sortedPost = site.posts | sort: 'slugID' %}
            {% for news in sortedPost reversed limit: 8 offset: 4 %}
            {% assign counter = counter | plus:1 %}

            <div data-slug="{{ news.slugID }}" class="grid-item">
                <a href="{{ news.url }}" target="_blank" class="news-link">
                    <div class="news-content">
                        <div class="news-date">
                            <span class="date">{{ news.date | date: '%B %d, %Y' }}</span>
                        </div>
                        <h4 class="news-title">{{ news.title }} </h4>
                        <p>{{ news.content | truncatewords: 20 }}</p>
                        <img class="news-image img-responsive center-block" src="{{ news.cover }}" alt="{{ news.title }}"/>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
