<div id="other-site" class="section fp-normal-scroll fp-auto-height">
    <div class="container section-container">
        <div class="section-content">
            <div class="site-top">
                <h2 class="section-header"> SN ABOITIZ Power-RES, Inc.</h2>
            </div>
            <div class="site-middle">
                <p class="section-text">We understand our customers' spoken and underlying needs, and are able to synthesize products and service offerings that meet these needs.</p>
            </div>
            <div class="site-bottom">
                <a href="https://snap-res.github.io/" target="_blank" class="intro-link">Visit Website ></a>
            </div>
        </div>
    </div>
</div>