<div class="container section-container">
    <div class="section-content">
        <div class="site-top">
            <h2 class="section-header"> SN ABOITIZ POWER GROUP</h2>
        </div>
        <div class="site-middle">
            <p class="section-text">It aims to supply the energy requirements of the country through the leading retail
                electricity supplier in the country through profitable growth, excellence in business processes, and
                innovative solutions.</p>
        </div>
        <div class="site-bottom">
            <a href="#" class="intro-link">Visit Website ></a>
        </div>
    </div>
</div>