<div class="container section-container">
    <div class="section-content">
        <div class="site-top">
            <h2 class="section-header"> SN ABOITIZ Power-RES, Inc.</h2>
        </div>
        <div class="site-middle">
            <p class="section-text">It aims to supply the energy requirements of the country through implementing global best practice and responsible corporate governance.</p>
        </div>
        <div class="site-bottom">
            <a href="https://snap-res.github.io/" target="_blank" class="intro-link">Visit Website ></a>
        </div>
    </div>
</div>