<div class="section" id="our-plant">
    <div class="container-fluid no-gutter slide-container">
        <div class="slide slide-magat" id="slide1">
            <div class="bg-overlay"></div>
            <div class="slide-section clearfix">
                <div class="container">
                    {% include home/plant/section1.html %}
                </div>
            </div>
        </div>
        <div class="slide slide-ambuklao" id="slide2">
            <div class="bg-overlay"></div>
            <div class="slide-section clearfix">
                <div class="container">
                {% include home/plant/section2.html %}
                </div>
            </div>
        </div>
        <div class="slide slide-binga" id="slide3">
            <div class="bg-overlay"></div>
            <div class="slide-section clearfix">
                <div class="container">
                    {% include home/plant/section3.html %}
                </div>
            </div>
        </div>
    </div>
</div>