<div class="section" id="our-plant" data-anchor="section-2">
    <div class="container-fluid no-gutter slide-container">
        <div class="container">
            <div class="slide" id="slide1">
                <h1 class="content-title">MAGAT SECTION</h1>
                {% include home/power-plant/magat.html %}
            </div>
            <div class="slide" id="slide2">
                <h1 class="content-title">AMBUKLAO SECTION</h1>
                {% include home/power-plant/ambuklao.html %}
            </div>
            <div class="slide" id="slide3">
                <h1 class="content-title">BINGA SECTION</h1>
                {% include home/power-plant/binga.html %}
            </div>
        </div>
    </div>
</div>