<div class="section" id="our-plant">
    <div class="container-fluid no-gutter slide-container">
        <div class="container">
            <div class="slide" id="slide1">
                {% include home/plant/magat.html %}
            </div>
            <div class="slide" id="slide2">
                {% include home/plant/ambuklao.html %}
            </div>
            <div class="slide" id="slide3">
                {% include home/plant/binga.html %}
            </div>
        </div>
    </div>
</div>