<div class="container container-section">
    <div class="col-lg-9 left-section">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="tabs-list active">
                <a class="tabs-link" href="#power-plant" role="tab" data-toggle="tab">Our PowerPlants</a>
            </li>
            <li class="tabs-list" role="presentation">
                <a class="tabs-link" href="#we-offer" role="tab" data-toggle="tab">What We Offer</a>
            </li>
            <li class="tabs-list" role="presentation">
                <a class="tabs-link" href="#faqs" role="tab" data-toggle="tab">FAQs</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="content-list tab-pane fade in active" id="power-plant">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="tabs-list active">
                        <a class="tabs-link" href="#magat-plant" role="tab" data-toggle="tab">Magat Hydroelectric Power Plant</a>
                    </li>
                    <li role="presentation" class="tabs-list">
                        <a class="tabs-link" href="#ambuklao-plant" role="tab" data-toggle="tab">Ambuklao Hydroelectric Power Plant</a>
                    </li>
                    <li role="presentation" class="tabs-list">
                        <a class="tabs-link" href="#binga-plant" role="tab" data-toggle="tab">Binga Hydroelectric Power Plant</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="content-list tab-pane fade in active" id="magat-plant">
                        1
                    </div>

                    <div role="tabpanel" class="content-list tab-pane fade" id="ambuklao-plant">
                        2
                    </div>

                    <div role="tabpanel" class="content-list tab-pane fade" id="binga-plant">
                        3
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="content-list tab-pane fade" id="we-offer">
                {% include about-us/strategic-foundation.html %}
            </div>
            <div role="tabpanel" class="content-list tab-pane fade" id="faqs">
                {% include about-us/shareholder.html %}
            </div>
        </div>
    </div>

    <div class="col-lg-3 right-section">
    </div>
</div>

