<div class="container container-section">
    <!-- Nav tabs -->
    <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="tabs-list active">
            <a class="tabs-link" href="#power-plant" role="tab" data-toggle="tab">Our Power Plants</a>
        </li>
        <li class="tabs-list" role="presentation">
            <a class="tabs-link" href="#we-offer" role="tab" data-toggle="tab">What We Offer</a>
        </li>
        <li class="tabs-list" role="presentation">
            <a class="tabs-link" href="#faqs" role="tab" data-toggle="tab">FAQs</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="content-list tab-pane fade in active" id="power-plant">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="tabs-list active">
                    <a class="tabs-link" href="#magat-plant" role="tab" data-toggle="tab">Magat Power Plant</a>
                </li>
                <li role="presentation" class="tabs-list">
                    <a class="tabs-link" href="#ambuklao-plant" role="tab" data-toggle="tab">Ambuklao Power Plant</a>
                </li>
                <li role="presentation" class="tabs-list">
                    <a class="tabs-link" href="#binga-plant" role="tab" data-toggle="tab">Binga Power Plant</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="content-list tab-pane fade in active" id="magat-plant">
                    {% include our-business/power-plant/magat.html %}
                </div>

                <div role="tabpanel" class="content-list tab-pane fade" id="ambuklao-plant">
                    {% include our-business/power-plant/ambuklao.html %}
                </div>

                <div role="tabpanel" class="content-list tab-pane fade" id="binga-plant">
                    {% include our-business/power-plant/binga.html %}
                </div>
            </div>
        </div>
        <div role="tabpanel" class="content-list tab-pane fade clearfix" id="we-offer">
            {% include our-business/we-offer.html %}
        </div>
        <div role="tabpanel" class="content-list tab-pane fade" id="faqs">
            {% include our-business/faqs.html %}
        </div>
    </div>

    <div class="hidden-lg hidden-md visible-sm visible-xs no-gutter col-sm-12 col-xs-12 right-section">
        {% include side-gallery.html %}
    </div>

</div>

