<div class="with-gallery content-section col-lg-8 col-md-8">
    <p class="content-text">SNAP is in the business of providing renewable energy, specifically hydroelectric power. It
        also provides ancillary services necessary to maintain power quality, reliability and stability of the grid.</p>
    <p class="content-text">When engaging SNAP, you benefit from the synergy derived from the expertise of a strong
        local power industry player that is the AboitizPower and the vast international experience of SN Power.</p>
    <p class="content-text">Our business is focused on clean energy sources and we operate using global best practices
        as we seek ways to constantly improve and innovate.</p>
    <p class="content-text">For inquiries on our services, you may send an email to <strong>marketing@snaboitiz.com.</strong></p>
</div>
<div class="col-lg-4 col-lg-4 right-section">
    {% include side-gallery.html %}
</div>