<div id="news">
    <div class="container">
        <div class="col-lg-8 col-md-8 left-section">
            <div class="header-section">
                <h2 class="header">{{ page.title }}</h2>
                <span class="date">Posted on {{ page.date | date: '%B %d, %Y' }}</span>
            </div>
            {% if page.cover != null %}
            <div class="image-section">
                <img class="image" src="{{ page.cover }}"/>
            </div>
            {% endif %}

            <div class="content-section">
                {{ page.content }}
             <span class="contact-details">
                 For inquiries, please contact: <br>
                 Rhoda Santos, Corpcom Manager<br>
                 C: 0908-872-7286<br>
                 E: rhoda.santos@snaboitiz.com</span>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 right-section">
            {% include side-gallery.html %}
        </div>
    </div>
</div>