<div id="news">
    <div class="container">
        <div class="left-section clearfix">
            <div class="header-section">
                <h2 class="header">{{ page.title }}</h2>
                <span class="date">Posted on {{ page.date | date: '%B %d, %Y' }}</span>
            </div>
            {% if page.cover != null %}
            <div class="image-section">
                <img class="image" alt="news banner" src="{{ page.cover }}"/>
            </div>
            {% endif %}

            <div class="content-section">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>